html {
  height: 100%;
  background-color: black;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1890px 583px #fff, 1234px 1472px #fff, 146px 1669px #fff,
    1229px 516px #fff, 721px 1552px #fff, 721px 1222px #fff, 587px 1818px #fff,
    1507px 571px #fff, 271px 1139px #fff, 1122px 620px #fff, 1059px 1924px #fff,
    645px 607px #fff, 1712px 1049px #fff, 1055px 1394px #fff, 1940px 1869px #fff,
    1599px 1487px #fff, 1823px 1903px #fff, 1679px 110px #fff, 1956px 857px #fff,
    234px 109px #fff, 807px 405px #fff, 1274px 781px #fff, 1127px 1417px #fff,
    778px 4px #fff, 1521px 698px #fff, 1126px 288px #fff, 798px 899px #fff,
    1488px 1090px #fff, 438px 876px #fff, 852px 1065px #fff, 1629px 510px #fff,
    377px 1103px #fff, 398px 1326px #fff, 685px 950px #fff, 1252px 528px #fff,
    392px 452px #fff, 1451px 1060px #fff, 438px 1686px #fff, 592px 1611px #fff,
    1389px 933px #fff, 317px 45px #fff, 1515px 1943px #fff, 1603px 60px #fff,
    1042px 1871px #fff, 1402px 370px #fff, 142px 853px #fff, 94px 257px #fff,
    1259px 966px #fff, 680px 1512px #fff, 230px 965px #fff, 923px 196px #fff,
    1833px 861px #fff, 1363px 17px #fff, 11px 1621px #fff, 1899px 726px #fff,
    692px 1410px #fff, 295px 203px #fff, 645px 1851px #fff, 1433px 1255px #fff,
    92px 999px #fff, 994px 426px #fff, 1566px 84px #fff, 386px 936px #fff,
    405px 1054px #fff, 1451px 1171px #fff, 480px 177px #fff, 765px 45px #fff,
    567px 1741px #fff, 1539px 1453px #fff, 1910px 692px #fff, 1680px 1985px #fff,
    1246px 99px #fff, 987px 641px #fff, 66px 1174px #fff, 1px 320px #fff,
    416px 419px #fff, 1306px 1783px #fff, 409px 69px #fff, 1786px 1348px #fff,
    1663px 1004px #fff, 645px 1037px #fff, 1782px 1332px #fff,
    1832px 1355px #fff, 1294px 1269px #fff, 1424px 1210px #fff,
    1760px 314px #fff, 1643px 1782px #fff, 289px 428px #fff, 492px 437px #fff,
    1638px 101px #fff, 1522px 35px #fff, 1103px 672px #fff, 942px 476px #fff,
    1513px 1041px #fff, 714px 1707px #fff, 1126px 1513px #fff, 552px 8px #fff,
    351px 1841px #fff, 1959px 242px #fff, 1251px 93px #fff, 317px 1249px #fff,
    429px 155px #fff, 308px 1569px #fff, 1264px 1425px #fff, 19px 891px #fff,
    1039px 992px #fff, 1442px 1120px #fff, 809px 1130px #fff, 1523px 1793px #fff,
    638px 1740px #fff, 1420px 102px #fff, 1020px 1969px #fff, 123px 1188px #fff,
    1785px 367px #fff, 1669px 1661px #fff, 1771px 1748px #fff, 178px 365px #fff,
    1393px 1531px #fff, 1998px 201px #fff, 872px 421px #fff, 991px 220px #fff,
    46px 63px #fff, 1257px 1535px #fff, 1395px 1131px #fff, 277px 1073px #fff,
    947px 957px #fff, 961px 324px #fff, 311px 1819px #fff, 1034px 1294px #fff,
    837px 1190px #fff, 261px 405px #fff, 475px 508px #fff, 1635px 646px #fff,
    1601px 1203px #fff, 55px 1494px #fff, 1949px 515px #fff, 88px 490px #fff,
    1784px 1532px #fff, 124px 1631px #fff, 1207px 1169px #fff, 579px 1262px #fff,
    280px 992px #fff, 1583px 951px #fff, 1637px 1668px #fff, 475px 1220px #fff,
    1532px 1235px #fff, 1702px 1695px #fff, 1077px 827px #fff, 1644px 362px #fff,
    1798px 1633px #fff, 1024px 1880px #fff, 1539px 1215px #fff,
    873px 1741px #fff, 1934px 1729px #fff, 90px 636px #fff, 1455px 183px #fff,
    145px 1753px #fff, 1460px 1538px #fff, 97px 1080px #fff, 648px 442px #fff,
    1245px 1947px #fff, 1941px 148px #fff, 850px 1448px #fff, 1592px 1462px #fff,
    1718px 757px #fff, 396px 1480px #fff, 345px 1487px #fff, 729px 525px #fff,
    603px 771px #fff, 940px 49px #fff, 1926px 1718px #fff, 1554px 145px #fff,
    1685px 1928px #fff, 205px 865px #fff, 774px 873px #fff, 741px 1498px #fff,
    4px 33px #fff, 686px 1299px #fff, 664px 132px #fff, 1846px 967px #fff,
    819px 1791px #fff, 194px 803px #fff, 1311px 95px #fff, 42px 1000px #fff,
    571px 480px #fff, 1918px 1339px #fff, 1953px 1440px #fff, 1195px 1657px #fff,
    1848px 1421px #fff, 1324px 403px #fff, 1602px 299px #fff, 1908px 855px #fff,
    1679px 1433px #fff, 1061px 1514px #fff, 1244px 767px #fff, 607px 1117px #fff,
    1253px 63px #fff, 1321px 869px #fff, 630px 27px #fff, 999px 618px #fff,
    237px 175px #fff, 613px 394px #fff, 736px 265px #fff, 1437px 1246px #fff,
    413px 55px #fff, 170px 265px #fff, 1552px 1866px #fff, 225px 650px #fff,
    1006px 1761px #fff, 1613px 1504px #fff, 657px 266px #fff, 164px 99px #fff,
    1930px 104px #fff, 1238px 562px #fff, 1936px 1296px #fff, 758px 1426px #fff,
    182px 1635px #fff, 1960px 1668px #fff, 641px 309px #fff, 362px 1090px #fff,
    721px 1018px #fff, 642px 962px #fff, 298px 1082px #fff, 354px 618px #fff,
    54px 228px #fff, 671px 1682px #fff, 1248px 1180px #fff, 588px 1252px #fff,
    1830px 20px #fff, 785px 819px #fff, 8px 273px #fff, 1541px 117px #fff,
    1269px 1453px #fff, 1923px 1837px #fff, 1497px 838px #fff, 1392px 125px #fff,
    1300px 1867px #fff, 387px 1689px #fff, 831px 279px #fff, 1055px 1341px #fff,
    83px 626px #fff, 1995px 1114px #fff, 1823px 278px #fff, 641px 1927px #fff,
    757px 924px #fff, 915px 503px #fff, 1206px 1946px #fff, 1569px 1699px #fff,
    982px 177px #fff, 558px 63px #fff, 583px 1974px #fff, 934px 1485px #fff,
    163px 1432px #fff, 1484px 619px #fff, 929px 1141px #fff, 1782px 1165px #fff,
    195px 1328px #fff, 516px 416px #fff, 1865px 296px #fff, 753px 180px #fff,
    210px 630px #fff, 1682px 1809px #fff, 944px 659px #fff, 1286px 497px #fff,
    486px 1964px #fff, 1323px 391px #fff, 1291px 908px #fff, 1774px 1264px #fff,
    431px 1855px #fff, 415px 599px #fff, 1666px 687px #fff, 1149px 1828px #fff,
    929px 385px #fff, 110px 1704px #fff, 403px 8px #fff, 1294px 774px #fff,
    684px 781px #fff, 1534px 125px #fff, 1134px 734px #fff, 579px 351px #fff,
    712px 376px #fff, 1324px 966px #fff, 543px 1042px #fff, 209px 1767px #fff,
    1929px 37px #fff, 330px 1276px #fff, 1797px 722px #fff, 1257px 548px #fff,
    1909px 260px #fff, 516px 1488px #fff, 1027px 289px #fff, 1623px 481px #fff,
    809px 1629px #fff, 1554px 548px #fff, 1449px 910px #fff, 576px 940px #fff,
    598px 435px #fff, 1244px 145px #fff, 1673px 1010px #fff, 644px 200px #fff,
    355px 270px #fff, 568px 180px #fff, 1225px 510px #fff, 38px 1170px #fff,
    667px 1170px #fff, 1006px 269px #fff, 385px 1198px #fff, 336px 1122px #fff,
    216px 1662px #fff, 1755px 1657px #fff, 303px 290px #fff, 1205px 351px #fff,
    1702px 404px #fff, 986px 936px #fff, 887px 1583px #fff, 1857px 1008px #fff,
    1463px 1580px #fff, 769px 961px #fff, 891px 134px #fff, 1447px 410px #fff,
    1986px 957px #fff, 1565px 1367px #fff, 1105px 266px #fff, 745px 192px #fff,
    629px 98px #fff, 1897px 551px #fff, 1126px 65px #fff, 1571px 1998px #fff,
    1620px 557px #fff, 1597px 1192px #fff, 550px 691px #fff, 1393px 1629px #fff,
    1067px 1862px #fff, 886px 368px #fff, 602px 1357px #fff, 487px 925px #fff,
    269px 1235px #fff, 127px 1537px #fff, 337px 1159px #fff, 333px 840px #fff,
    1412px 692px #fff, 889px 1687px #fff, 431px 891px #fff, 996px 1459px #fff,
    1859px 1311px #fff, 407px 1584px #fff, 864px 966px #fff, 864px 725px #fff,
    684px 32px #fff, 1256px 706px #fff, 881px 279px #fff, 762px 992px #fff,
    77px 270px #fff, 1826px 686px #fff, 1351px 730px #fff, 1858px 119px #fff,
    256px 1027px #fff, 1421px 172px #fff, 753px 1815px #fff, 340px 1320px #fff,
    1134px 184px #fff, 181px 1314px #fff, 233px 750px #fff, 895px 191px #fff,
    606px 749px #fff, 1627px 1410px #fff, 108px 1164px #fff, 769px 808px #fff,
    874px 546px #fff, 1028px 86px #fff, 1770px 32px #fff, 1940px 106px #fff,
    374px 1715px #fff, 1977px 1458px #fff, 1748px 1562px #fff,
    1410px 1345px #fff, 861px 334px #fff, 1642px 259px #fff, 1663px 1839px #fff,
    327px 761px #fff, 410px 271px #fff, 498px 82px #fff, 1231px 282px #fff,
    837px 665px #fff, 15px 1850px #fff, 1872px 1222px #fff, 1586px 1151px #fff,
    1392px 1466px #fff, 1382px 1947px #fff, 973px 948px #fff, 1711px 1874px #fff,
    1277px 1689px #fff, 1215px 568px #fff, 496px 938px #fff, 1728px 543px #fff,
    1004px 872px #fff, 1424px 1238px #fff, 503px 724px #fff, 624px 1602px #fff,
    1310px 860px #fff, 838px 591px #fff, 869px 610px #fff, 1891px 933px #fff,
    291px 533px #fff, 1892px 609px #fff, 876px 1619px #fff, 1698px 1625px #fff,
    181px 1838px #fff, 1105px 1463px #fff, 870px 1248px #fff, 1495px 752px #fff,
    1317px 1176px #fff, 588px 47px #fff, 629px 65px #fff, 289px 971px #fff,
    483px 31px #fff, 215px 498px #fff, 1358px 1177px #fff, 795px 1647px #fff,
    213px 8px #fff, 598px 277px #fff, 1793px 679px #fff, 968px 26px #fff,
    1953px 764px #fff, 223px 1298px #fff, 447px 1973px #fff, 1446px 758px #fff,
    554px 1845px #fff, 948px 441px #fff, 907px 1383px #fff, 875px 230px #fff,
    1185px 388px #fff, 546px 1776px #fff, 1795px 601px #fff, 1024px 1254px #fff,
    1887px 1604px #fff, 613px 496px #fff, 407px 919px #fff, 549px 1414px #fff,
    768px 1016px #fff, 767px 620px #fff, 919px 1606px #fff, 290px 522px #fff,
    1185px 1598px #fff, 351px 1090px #fff, 791px 204px #fff, 1297px 1186px #fff,
    1897px 927px #fff, 574px 920px #fff, 1863px 822px #fff, 1435px 391px #fff,
    1051px 60px #fff, 642px 615px #fff, 180px 222px #fff, 1436px 1372px #fff,
    1150px 1202px #fff, 1856px 1985px #fff, 1877px 1197px #fff,
    860px 1207px #fff, 1679px 891px #fff, 353px 276px #fff, 1736px 782px #fff,
    70px 554px #fff, 1721px 1799px #fff, 1372px 972px #fff, 982px 1108px #fff,
    1141px 70px #fff, 283px 888px #fff, 1646px 1193px #fff, 1593px 113px #fff,
    650px 1761px #fff, 1432px 1667px #fff, 973px 1502px #fff, 988px 445px #fff,
    1344px 1459px #fff, 705px 909px #fff, 470px 754px #fff, 701px 133px #fff,
    95px 648px #fff, 1774px 531px #fff, 164px 1761px #fff, 973px 811px #fff,
    245px 460px #fff, 785px 1968px #fff, 1872px 1656px #fff, 149px 823px #fff,
    791px 305px #fff, 694px 733px #fff, 506px 416px #fff, 2000px 1908px #fff,
    1734px 1440px #fff, 481px 1835px #fff, 1242px 562px #fff, 97px 1073px #fff,
    1762px 517px #fff, 1965px 1490px #fff, 604px 70px #fff, 427px 1951px #fff,
    1410px 1794px #fff, 569px 73px #fff, 1151px 368px #fff, 1493px 905px #fff,
    132px 176px #fff, 1119px 1762px #fff, 775px 82px #fff, 295px 1663px #fff,
    701px 1181px #fff, 1825px 298px #fff, 861px 612px #fff, 1452px 1477px #fff,
    966px 1732px #fff, 928px 176px #fff, 1166px 1722px #fff, 1052px 121px #fff,
    847px 664px #fff, 244px 539px #fff, 449px 1861px #fff, 1721px 922px #fff,
    596px 683px #fff, 852px 419px #fff, 722px 1844px #fff, 1123px 800px #fff,
    969px 1279px #fff, 936px 175px #fff, 1730px 1568px #fff, 515px 824px #fff,
    599px 699px #fff, 486px 557px #fff, 259px 1650px #fff, 554px 19px #fff,
    894px 1378px #fff, 870px 1635px #fff, 1890px 1995px #fff, 16px 22px #fff,
    1479px 1312px #fff, 831px 1656px #fff, 561px 390px #fff, 817px 343px #fff,
    520px 1281px #fff, 1035px 657px #fff, 980px 335px #fff, 1901px 1570px #fff,
    10px 1772px #fff, 934px 1536px #fff, 1380px 737px #fff, 1132px 1460px #fff,
    525px 1379px #fff, 1145px 1582px #fff, 2000px 856px #fff, 1800px 1496px #fff,
    1965px 569px #fff, 1759px 312px #fff, 500px 421px #fff, 204px 1959px #fff,
    738px 55px #fff, 490px 1203px #fff, 1927px 549px #fff, 427px 1968px #fff,
    1982px 1280px #fff, 1103px 544px #fff, 492px 770px #fff, 877px 941px #fff,
    845px 1781px #fff, 1990px 1639px #fff, 1035px 1157px #fff, 678px 1126px #fff,
    1561px 1720px #fff, 1961px 246px #fff, 76px 724px #fff, 460px 269px #fff,
    105px 688px #fff, 1938px 1734px #fff, 426px 350px #fff, 559px 1498px #fff,
    1465px 1420px #fff, 285px 1072px #fff, 611px 633px #fff, 598px 578px #fff,
    1285px 1033px #fff, 1706px 49px #fff, 628px 1725px #fff, 1434px 1301px #fff,
    451px 788px #fff, 481px 698px #fff, 15px 698px #fff, 1210px 186px #fff,
    1878px 834px #fff, 598px 1529px #fff, 438px 1177px #fff, 1513px 901px #fff,
    345px 113px #fff, 758px 387px #fff, 1279px 1312px #fff, 89px 1490px #fff,
    1032px 338px #fff, 1288px 1563px #fff, 1362px 83px #fff, 1495px 953px #fff,
    1323px 433px #fff, 1008px 701px #fff, 1077px 1952px #fff, 130px 338px #fff,
    164px 1868px #fff, 112px 936px #fff, 174px 1606px #fff, 1577px 1979px #fff,
    885px 1270px #fff, 257px 1747px #fff, 1080px 1473px #fff, 609px 1727px #fff,
    574px 496px #fff, 249px 1142px #fff, 250px 903px #fff, 1598px 345px #fff,
    1941px 956px #fff, 1299px 1369px #fff, 1640px 127px #fff, 485px 120px #fff,
    1219px 179px #fff, 496px 1826px #fff, 705px 930px #fff, 1693px 285px #fff,
    1804px 254px #fff, 1918px 1641px #fff, 562px 287px #fff, 1396px 896px #fff,
    307px 1140px #fff, 1067px 1556px #fff, 145px 226px #fff, 1913px 421px #fff,
    1814px 908px #fff, 1113px 654px #fff, 239px 12px #fff, 1176px 1573px #fff,
    1031px 630px #fff, 1940px 1883px #fff, 1449px 497px #fff, 407px 647px #fff,
    1957px 1872px #fff, 504px 156px #fff, 1413px 1488px #fff, 1043px 1715px #fff,
    6px 1169px #fff, 253px 282px #fff, 1184px 612px #fff, 373px 1155px #fff,
    801px 1398px #fff, 1727px 894px #fff, 231px 1864px #fff, 1043px 1951px #fff,
    1563px 205px #fff, 378px 1196px #fff, 39px 1473px #fff, 1860px 1001px #fff,
    1786px 1196px #fff, 1200px 354px #fff, 1430px 831px #fff, 1577px 1342px #fff,
    1319px 922px #fff, 1297px 1585px #fff, 554px 84px #fff, 1576px 1902px #fff,
    1741px 710px #fff, 1184px 1276px #fff, 446px 1485px #fff, 449px 1317px #fff,
    953px 887px #fff, 116px 1408px #fff, 1866px 662px #fff, 1907px 1228px #fff,
    45px 1436px #fff, 617px 813px #fff, 1863px 80px #fff, 157px 1858px #fff,
    1621px 557px #fff, 423px 85px #fff, 143px 1263px #fff, 420px 591px #fff,
    1311px 1492px #fff, 1841px 756px #fff, 105px 479px #fff, 405px 1129px #fff,
    464px 1362px #fff, 1931px 689px #fff, 607px 460px #fff, 1071px 1646px #fff,
    689px 1002px #fff, 577px 1692px #fff, 1966px 947px #fff, 1546px 1486px #fff,
    1513px 507px #fff, 46px 89px #fff, 1405px 886px #fff, 742px 183px #fff,
    233px 221px #fff, 1463px 823px #fff, 1514px 917px #fff, 12px 655px #fff,
    657px 690px #fff, 497px 1106px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1890px 583px #fff, 1234px 1472px #fff, 146px 1669px #fff,
    1229px 516px #fff, 721px 1552px #fff, 721px 1222px #fff, 587px 1818px #fff,
    1507px 571px #fff, 271px 1139px #fff, 1122px 620px #fff, 1059px 1924px #fff,
    645px 607px #fff, 1712px 1049px #fff, 1055px 1394px #fff, 1940px 1869px #fff,
    1599px 1487px #fff, 1823px 1903px #fff, 1679px 110px #fff, 1956px 857px #fff,
    234px 109px #fff, 807px 405px #fff, 1274px 781px #fff, 1127px 1417px #fff,
    778px 4px #fff, 1521px 698px #fff, 1126px 288px #fff, 798px 899px #fff,
    1488px 1090px #fff, 438px 876px #fff, 852px 1065px #fff, 1629px 510px #fff,
    377px 1103px #fff, 398px 1326px #fff, 685px 950px #fff, 1252px 528px #fff,
    392px 452px #fff, 1451px 1060px #fff, 438px 1686px #fff, 592px 1611px #fff,
    1389px 933px #fff, 317px 45px #fff, 1515px 1943px #fff, 1603px 60px #fff,
    1042px 1871px #fff, 1402px 370px #fff, 142px 853px #fff, 94px 257px #fff,
    1259px 966px #fff, 680px 1512px #fff, 230px 965px #fff, 923px 196px #fff,
    1833px 861px #fff, 1363px 17px #fff, 11px 1621px #fff, 1899px 726px #fff,
    692px 1410px #fff, 295px 203px #fff, 645px 1851px #fff, 1433px 1255px #fff,
    92px 999px #fff, 994px 426px #fff, 1566px 84px #fff, 386px 936px #fff,
    405px 1054px #fff, 1451px 1171px #fff, 480px 177px #fff, 765px 45px #fff,
    567px 1741px #fff, 1539px 1453px #fff, 1910px 692px #fff, 1680px 1985px #fff,
    1246px 99px #fff, 987px 641px #fff, 66px 1174px #fff, 1px 320px #fff,
    416px 419px #fff, 1306px 1783px #fff, 409px 69px #fff, 1786px 1348px #fff,
    1663px 1004px #fff, 645px 1037px #fff, 1782px 1332px #fff,
    1832px 1355px #fff, 1294px 1269px #fff, 1424px 1210px #fff,
    1760px 314px #fff, 1643px 1782px #fff, 289px 428px #fff, 492px 437px #fff,
    1638px 101px #fff, 1522px 35px #fff, 1103px 672px #fff, 942px 476px #fff,
    1513px 1041px #fff, 714px 1707px #fff, 1126px 1513px #fff, 552px 8px #fff,
    351px 1841px #fff, 1959px 242px #fff, 1251px 93px #fff, 317px 1249px #fff,
    429px 155px #fff, 308px 1569px #fff, 1264px 1425px #fff, 19px 891px #fff,
    1039px 992px #fff, 1442px 1120px #fff, 809px 1130px #fff, 1523px 1793px #fff,
    638px 1740px #fff, 1420px 102px #fff, 1020px 1969px #fff, 123px 1188px #fff,
    1785px 367px #fff, 1669px 1661px #fff, 1771px 1748px #fff, 178px 365px #fff,
    1393px 1531px #fff, 1998px 201px #fff, 872px 421px #fff, 991px 220px #fff,
    46px 63px #fff, 1257px 1535px #fff, 1395px 1131px #fff, 277px 1073px #fff,
    947px 957px #fff, 961px 324px #fff, 311px 1819px #fff, 1034px 1294px #fff,
    837px 1190px #fff, 261px 405px #fff, 475px 508px #fff, 1635px 646px #fff,
    1601px 1203px #fff, 55px 1494px #fff, 1949px 515px #fff, 88px 490px #fff,
    1784px 1532px #fff, 124px 1631px #fff, 1207px 1169px #fff, 579px 1262px #fff,
    280px 992px #fff, 1583px 951px #fff, 1637px 1668px #fff, 475px 1220px #fff,
    1532px 1235px #fff, 1702px 1695px #fff, 1077px 827px #fff, 1644px 362px #fff,
    1798px 1633px #fff, 1024px 1880px #fff, 1539px 1215px #fff,
    873px 1741px #fff, 1934px 1729px #fff, 90px 636px #fff, 1455px 183px #fff,
    145px 1753px #fff, 1460px 1538px #fff, 97px 1080px #fff, 648px 442px #fff,
    1245px 1947px #fff, 1941px 148px #fff, 850px 1448px #fff, 1592px 1462px #fff,
    1718px 757px #fff, 396px 1480px #fff, 345px 1487px #fff, 729px 525px #fff,
    603px 771px #fff, 940px 49px #fff, 1926px 1718px #fff, 1554px 145px #fff,
    1685px 1928px #fff, 205px 865px #fff, 774px 873px #fff, 741px 1498px #fff,
    4px 33px #fff, 686px 1299px #fff, 664px 132px #fff, 1846px 967px #fff,
    819px 1791px #fff, 194px 803px #fff, 1311px 95px #fff, 42px 1000px #fff,
    571px 480px #fff, 1918px 1339px #fff, 1953px 1440px #fff, 1195px 1657px #fff,
    1848px 1421px #fff, 1324px 403px #fff, 1602px 299px #fff, 1908px 855px #fff,
    1679px 1433px #fff, 1061px 1514px #fff, 1244px 767px #fff, 607px 1117px #fff,
    1253px 63px #fff, 1321px 869px #fff, 630px 27px #fff, 999px 618px #fff,
    237px 175px #fff, 613px 394px #fff, 736px 265px #fff, 1437px 1246px #fff,
    413px 55px #fff, 170px 265px #fff, 1552px 1866px #fff, 225px 650px #fff,
    1006px 1761px #fff, 1613px 1504px #fff, 657px 266px #fff, 164px 99px #fff,
    1930px 104px #fff, 1238px 562px #fff, 1936px 1296px #fff, 758px 1426px #fff,
    182px 1635px #fff, 1960px 1668px #fff, 641px 309px #fff, 362px 1090px #fff,
    721px 1018px #fff, 642px 962px #fff, 298px 1082px #fff, 354px 618px #fff,
    54px 228px #fff, 671px 1682px #fff, 1248px 1180px #fff, 588px 1252px #fff,
    1830px 20px #fff, 785px 819px #fff, 8px 273px #fff, 1541px 117px #fff,
    1269px 1453px #fff, 1923px 1837px #fff, 1497px 838px #fff, 1392px 125px #fff,
    1300px 1867px #fff, 387px 1689px #fff, 831px 279px #fff, 1055px 1341px #fff,
    83px 626px #fff, 1995px 1114px #fff, 1823px 278px #fff, 641px 1927px #fff,
    757px 924px #fff, 915px 503px #fff, 1206px 1946px #fff, 1569px 1699px #fff,
    982px 177px #fff, 558px 63px #fff, 583px 1974px #fff, 934px 1485px #fff,
    163px 1432px #fff, 1484px 619px #fff, 929px 1141px #fff, 1782px 1165px #fff,
    195px 1328px #fff, 516px 416px #fff, 1865px 296px #fff, 753px 180px #fff,
    210px 630px #fff, 1682px 1809px #fff, 944px 659px #fff, 1286px 497px #fff,
    486px 1964px #fff, 1323px 391px #fff, 1291px 908px #fff, 1774px 1264px #fff,
    431px 1855px #fff, 415px 599px #fff, 1666px 687px #fff, 1149px 1828px #fff,
    929px 385px #fff, 110px 1704px #fff, 403px 8px #fff, 1294px 774px #fff,
    684px 781px #fff, 1534px 125px #fff, 1134px 734px #fff, 579px 351px #fff,
    712px 376px #fff, 1324px 966px #fff, 543px 1042px #fff, 209px 1767px #fff,
    1929px 37px #fff, 330px 1276px #fff, 1797px 722px #fff, 1257px 548px #fff,
    1909px 260px #fff, 516px 1488px #fff, 1027px 289px #fff, 1623px 481px #fff,
    809px 1629px #fff, 1554px 548px #fff, 1449px 910px #fff, 576px 940px #fff,
    598px 435px #fff, 1244px 145px #fff, 1673px 1010px #fff, 644px 200px #fff,
    355px 270px #fff, 568px 180px #fff, 1225px 510px #fff, 38px 1170px #fff,
    667px 1170px #fff, 1006px 269px #fff, 385px 1198px #fff, 336px 1122px #fff,
    216px 1662px #fff, 1755px 1657px #fff, 303px 290px #fff, 1205px 351px #fff,
    1702px 404px #fff, 986px 936px #fff, 887px 1583px #fff, 1857px 1008px #fff,
    1463px 1580px #fff, 769px 961px #fff, 891px 134px #fff, 1447px 410px #fff,
    1986px 957px #fff, 1565px 1367px #fff, 1105px 266px #fff, 745px 192px #fff,
    629px 98px #fff, 1897px 551px #fff, 1126px 65px #fff, 1571px 1998px #fff,
    1620px 557px #fff, 1597px 1192px #fff, 550px 691px #fff, 1393px 1629px #fff,
    1067px 1862px #fff, 886px 368px #fff, 602px 1357px #fff, 487px 925px #fff,
    269px 1235px #fff, 127px 1537px #fff, 337px 1159px #fff, 333px 840px #fff,
    1412px 692px #fff, 889px 1687px #fff, 431px 891px #fff, 996px 1459px #fff,
    1859px 1311px #fff, 407px 1584px #fff, 864px 966px #fff, 864px 725px #fff,
    684px 32px #fff, 1256px 706px #fff, 881px 279px #fff, 762px 992px #fff,
    77px 270px #fff, 1826px 686px #fff, 1351px 730px #fff, 1858px 119px #fff,
    256px 1027px #fff, 1421px 172px #fff, 753px 1815px #fff, 340px 1320px #fff,
    1134px 184px #fff, 181px 1314px #fff, 233px 750px #fff, 895px 191px #fff,
    606px 749px #fff, 1627px 1410px #fff, 108px 1164px #fff, 769px 808px #fff,
    874px 546px #fff, 1028px 86px #fff, 1770px 32px #fff, 1940px 106px #fff,
    374px 1715px #fff, 1977px 1458px #fff, 1748px 1562px #fff,
    1410px 1345px #fff, 861px 334px #fff, 1642px 259px #fff, 1663px 1839px #fff,
    327px 761px #fff, 410px 271px #fff, 498px 82px #fff, 1231px 282px #fff,
    837px 665px #fff, 15px 1850px #fff, 1872px 1222px #fff, 1586px 1151px #fff,
    1392px 1466px #fff, 1382px 1947px #fff, 973px 948px #fff, 1711px 1874px #fff,
    1277px 1689px #fff, 1215px 568px #fff, 496px 938px #fff, 1728px 543px #fff,
    1004px 872px #fff, 1424px 1238px #fff, 503px 724px #fff, 624px 1602px #fff,
    1310px 860px #fff, 838px 591px #fff, 869px 610px #fff, 1891px 933px #fff,
    291px 533px #fff, 1892px 609px #fff, 876px 1619px #fff, 1698px 1625px #fff,
    181px 1838px #fff, 1105px 1463px #fff, 870px 1248px #fff, 1495px 752px #fff,
    1317px 1176px #fff, 588px 47px #fff, 629px 65px #fff, 289px 971px #fff,
    483px 31px #fff, 215px 498px #fff, 1358px 1177px #fff, 795px 1647px #fff,
    213px 8px #fff, 598px 277px #fff, 1793px 679px #fff, 968px 26px #fff,
    1953px 764px #fff, 223px 1298px #fff, 447px 1973px #fff, 1446px 758px #fff,
    554px 1845px #fff, 948px 441px #fff, 907px 1383px #fff, 875px 230px #fff,
    1185px 388px #fff, 546px 1776px #fff, 1795px 601px #fff, 1024px 1254px #fff,
    1887px 1604px #fff, 613px 496px #fff, 407px 919px #fff, 549px 1414px #fff,
    768px 1016px #fff, 767px 620px #fff, 919px 1606px #fff, 290px 522px #fff,
    1185px 1598px #fff, 351px 1090px #fff, 791px 204px #fff, 1297px 1186px #fff,
    1897px 927px #fff, 574px 920px #fff, 1863px 822px #fff, 1435px 391px #fff,
    1051px 60px #fff, 642px 615px #fff, 180px 222px #fff, 1436px 1372px #fff,
    1150px 1202px #fff, 1856px 1985px #fff, 1877px 1197px #fff,
    860px 1207px #fff, 1679px 891px #fff, 353px 276px #fff, 1736px 782px #fff,
    70px 554px #fff, 1721px 1799px #fff, 1372px 972px #fff, 982px 1108px #fff,
    1141px 70px #fff, 283px 888px #fff, 1646px 1193px #fff, 1593px 113px #fff,
    650px 1761px #fff, 1432px 1667px #fff, 973px 1502px #fff, 988px 445px #fff,
    1344px 1459px #fff, 705px 909px #fff, 470px 754px #fff, 701px 133px #fff,
    95px 648px #fff, 1774px 531px #fff, 164px 1761px #fff, 973px 811px #fff,
    245px 460px #fff, 785px 1968px #fff, 1872px 1656px #fff, 149px 823px #fff,
    791px 305px #fff, 694px 733px #fff, 506px 416px #fff, 2000px 1908px #fff,
    1734px 1440px #fff, 481px 1835px #fff, 1242px 562px #fff, 97px 1073px #fff,
    1762px 517px #fff, 1965px 1490px #fff, 604px 70px #fff, 427px 1951px #fff,
    1410px 1794px #fff, 569px 73px #fff, 1151px 368px #fff, 1493px 905px #fff,
    132px 176px #fff, 1119px 1762px #fff, 775px 82px #fff, 295px 1663px #fff,
    701px 1181px #fff, 1825px 298px #fff, 861px 612px #fff, 1452px 1477px #fff,
    966px 1732px #fff, 928px 176px #fff, 1166px 1722px #fff, 1052px 121px #fff,
    847px 664px #fff, 244px 539px #fff, 449px 1861px #fff, 1721px 922px #fff,
    596px 683px #fff, 852px 419px #fff, 722px 1844px #fff, 1123px 800px #fff,
    969px 1279px #fff, 936px 175px #fff, 1730px 1568px #fff, 515px 824px #fff,
    599px 699px #fff, 486px 557px #fff, 259px 1650px #fff, 554px 19px #fff,
    894px 1378px #fff, 870px 1635px #fff, 1890px 1995px #fff, 16px 22px #fff,
    1479px 1312px #fff, 831px 1656px #fff, 561px 390px #fff, 817px 343px #fff,
    520px 1281px #fff, 1035px 657px #fff, 980px 335px #fff, 1901px 1570px #fff,
    10px 1772px #fff, 934px 1536px #fff, 1380px 737px #fff, 1132px 1460px #fff,
    525px 1379px #fff, 1145px 1582px #fff, 2000px 856px #fff, 1800px 1496px #fff,
    1965px 569px #fff, 1759px 312px #fff, 500px 421px #fff, 204px 1959px #fff,
    738px 55px #fff, 490px 1203px #fff, 1927px 549px #fff, 427px 1968px #fff,
    1982px 1280px #fff, 1103px 544px #fff, 492px 770px #fff, 877px 941px #fff,
    845px 1781px #fff, 1990px 1639px #fff, 1035px 1157px #fff, 678px 1126px #fff,
    1561px 1720px #fff, 1961px 246px #fff, 76px 724px #fff, 460px 269px #fff,
    105px 688px #fff, 1938px 1734px #fff, 426px 350px #fff, 559px 1498px #fff,
    1465px 1420px #fff, 285px 1072px #fff, 611px 633px #fff, 598px 578px #fff,
    1285px 1033px #fff, 1706px 49px #fff, 628px 1725px #fff, 1434px 1301px #fff,
    451px 788px #fff, 481px 698px #fff, 15px 698px #fff, 1210px 186px #fff,
    1878px 834px #fff, 598px 1529px #fff, 438px 1177px #fff, 1513px 901px #fff,
    345px 113px #fff, 758px 387px #fff, 1279px 1312px #fff, 89px 1490px #fff,
    1032px 338px #fff, 1288px 1563px #fff, 1362px 83px #fff, 1495px 953px #fff,
    1323px 433px #fff, 1008px 701px #fff, 1077px 1952px #fff, 130px 338px #fff,
    164px 1868px #fff, 112px 936px #fff, 174px 1606px #fff, 1577px 1979px #fff,
    885px 1270px #fff, 257px 1747px #fff, 1080px 1473px #fff, 609px 1727px #fff,
    574px 496px #fff, 249px 1142px #fff, 250px 903px #fff, 1598px 345px #fff,
    1941px 956px #fff, 1299px 1369px #fff, 1640px 127px #fff, 485px 120px #fff,
    1219px 179px #fff, 496px 1826px #fff, 705px 930px #fff, 1693px 285px #fff,
    1804px 254px #fff, 1918px 1641px #fff, 562px 287px #fff, 1396px 896px #fff,
    307px 1140px #fff, 1067px 1556px #fff, 145px 226px #fff, 1913px 421px #fff,
    1814px 908px #fff, 1113px 654px #fff, 239px 12px #fff, 1176px 1573px #fff,
    1031px 630px #fff, 1940px 1883px #fff, 1449px 497px #fff, 407px 647px #fff,
    1957px 1872px #fff, 504px 156px #fff, 1413px 1488px #fff, 1043px 1715px #fff,
    6px 1169px #fff, 253px 282px #fff, 1184px 612px #fff, 373px 1155px #fff,
    801px 1398px #fff, 1727px 894px #fff, 231px 1864px #fff, 1043px 1951px #fff,
    1563px 205px #fff, 378px 1196px #fff, 39px 1473px #fff, 1860px 1001px #fff,
    1786px 1196px #fff, 1200px 354px #fff, 1430px 831px #fff, 1577px 1342px #fff,
    1319px 922px #fff, 1297px 1585px #fff, 554px 84px #fff, 1576px 1902px #fff,
    1741px 710px #fff, 1184px 1276px #fff, 446px 1485px #fff, 449px 1317px #fff,
    953px 887px #fff, 116px 1408px #fff, 1866px 662px #fff, 1907px 1228px #fff,
    45px 1436px #fff, 617px 813px #fff, 1863px 80px #fff, 157px 1858px #fff,
    1621px 557px #fff, 423px 85px #fff, 143px 1263px #fff, 420px 591px #fff,
    1311px 1492px #fff, 1841px 756px #fff, 105px 479px #fff, 405px 1129px #fff,
    464px 1362px #fff, 1931px 689px #fff, 607px 460px #fff, 1071px 1646px #fff,
    689px 1002px #fff, 577px 1692px #fff, 1966px 947px #fff, 1546px 1486px #fff,
    1513px 507px #fff, 46px 89px #fff, 1405px 886px #fff, 742px 183px #fff,
    233px 221px #fff, 1463px 823px #fff, 1514px 917px #fff, 12px 655px #fff,
    657px 690px #fff, 497px 1106px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 331px 889px #fff, 95px 60px #fff, 1766px 1481px #fff,
    755px 780px #fff, 1536px 961px #fff, 1604px 1219px #fff, 239px 1428px #fff,
    315px 417px #fff, 178px 1715px #fff, 1210px 1543px #fff, 1701px 165px #fff,
    720px 1164px #fff, 781px 1853px #fff, 1446px 1526px #fff, 1151px 907px #fff,
    1304px 1444px #fff, 1015px 1958px #fff, 1764px 1639px #fff, 1281px 63px #fff,
    1055px 164px #fff, 222px 38px #fff, 332px 385px #fff, 1908px 356px #fff,
    267px 1436px #fff, 928px 1496px #fff, 248px 1332px #fff, 1551px 234px #fff,
    73px 99px #fff, 1156px 1098px #fff, 1645px 1260px #fff, 558px 1034px #fff,
    1855px 17px #fff, 1382px 678px #fff, 1060px 1290px #fff, 1385px 1153px #fff,
    839px 1870px #fff, 1778px 1599px #fff, 932px 1633px #fff, 1288px 82px #fff,
    697px 1188px #fff, 1130px 97px #fff, 938px 455px #fff, 630px 677px #fff,
    1242px 1633px #fff, 1530px 776px #fff, 1658px 862px #fff, 513px 1210px #fff,
    207px 1240px #fff, 1564px 762px #fff, 1278px 1742px #fff, 1996px 1129px #fff,
    1081px 777px #fff, 1865px 910px #fff, 1279px 1622px #fff, 1911px 1282px #fff,
    1378px 499px #fff, 920px 1608px #fff, 1230px 1866px #fff, 415px 434px #fff,
    1567px 501px #fff, 1276px 508px #fff, 1826px 874px #fff, 949px 718px #fff,
    1892px 975px #fff, 961px 1347px #fff, 235px 880px #fff, 1888px 673px #fff,
    840px 1898px #fff, 1268px 807px #fff, 1337px 1063px #fff, 1755px 797px #fff,
    309px 1169px #fff, 27px 1831px #fff, 552px 1229px #fff, 1612px 1006px #fff,
    849px 875px #fff, 791px 593px #fff, 221px 1610px #fff, 1675px 1955px #fff,
    1933px 813px #fff, 1449px 1649px #fff, 1184px 864px #fff, 1576px 530px #fff,
    1863px 1229px #fff, 481px 462px #fff, 1124px 246px #fff, 358px 874px #fff,
    1623px 1574px #fff, 1469px 1859px #fff, 1734px 1501px #fff, 295px 991px #fff,
    1598px 1014px #fff, 12px 43px #fff, 565px 66px #fff, 1942px 1104px #fff,
    1518px 1208px #fff, 1772px 1582px #fff, 1716px 1275px #fff,
    1427px 1586px #fff, 1552px 603px #fff, 1274px 82px #fff, 484px 1507px #fff,
    1434px 1817px #fff, 1263px 259px #fff, 972px 1219px #fff, 251px 148px #fff,
    269px 1781px #fff, 130px 566px #fff, 1074px 1751px #fff, 714px 324px #fff,
    1502px 790px #fff, 1586px 1861px #fff, 195px 1215px #fff, 271px 983px #fff,
    1583px 206px #fff, 1923px 809px #fff, 237px 1826px #fff, 1353px 628px #fff,
    1132px 1026px #fff, 1861px 838px #fff, 1298px 1344px #fff, 631px 53px #fff,
    1660px 893px #fff, 975px 741px #fff, 1619px 1671px #fff, 742px 1843px #fff,
    977px 573px #fff, 168px 276px #fff, 363px 729px #fff, 625px 212px #fff,
    1403px 792px #fff, 1986px 1597px #fff, 105px 1617px #fff, 980px 1354px #fff,
    440px 728px #fff, 811px 1450px #fff, 656px 1246px #fff, 1248px 1883px #fff,
    1817px 1328px #fff, 54px 545px #fff, 494px 587px #fff, 1606px 1585px #fff,
    550px 1743px #fff, 203px 472px #fff, 784px 514px #fff, 1799px 242px #fff,
    1146px 870px #fff, 1179px 1927px #fff, 817px 697px #fff, 978px 1647px #fff,
    1318px 910px #fff, 1268px 980px #fff, 957px 90px #fff, 602px 62px #fff,
    1382px 741px #fff, 1014px 813px #fff, 1937px 1708px #fff, 1896px 880px #fff,
    993px 1286px #fff, 1310px 95px #fff, 1609px 1269px #fff, 425px 664px #fff,
    1350px 328px #fff, 1550px 99px #fff, 897px 414px #fff, 331px 614px #fff,
    585px 792px #fff, 911px 1975px #fff, 1854px 994px #fff, 964px 354px #fff,
    1601px 1552px #fff, 1508px 1344px #fff, 1158px 1274px #fff,
    1207px 803px #fff, 433px 48px #fff, 333px 130px #fff, 1454px 1149px #fff,
    1715px 1479px #fff, 1279px 1802px #fff, 1475px 442px #fff, 1885px 904px #fff,
    1871px 1065px #fff, 1256px 213px #fff, 712px 1999px #fff, 52px 383px #fff,
    162px 117px #fff, 420px 451px #fff, 1095px 1974px #fff, 1752px 1934px #fff,
    1283px 420px #fff, 929px 1087px #fff, 637px 537px #fff, 1377px 1033px #fff,
    749px 1348px #fff, 523px 1835px #fff, 344px 343px #fff, 217px 1750px #fff,
    1765px 996px #fff, 165px 1833px #fff, 1057px 1536px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 331px 889px #fff, 95px 60px #fff, 1766px 1481px #fff,
    755px 780px #fff, 1536px 961px #fff, 1604px 1219px #fff, 239px 1428px #fff,
    315px 417px #fff, 178px 1715px #fff, 1210px 1543px #fff, 1701px 165px #fff,
    720px 1164px #fff, 781px 1853px #fff, 1446px 1526px #fff, 1151px 907px #fff,
    1304px 1444px #fff, 1015px 1958px #fff, 1764px 1639px #fff, 1281px 63px #fff,
    1055px 164px #fff, 222px 38px #fff, 332px 385px #fff, 1908px 356px #fff,
    267px 1436px #fff, 928px 1496px #fff, 248px 1332px #fff, 1551px 234px #fff,
    73px 99px #fff, 1156px 1098px #fff, 1645px 1260px #fff, 558px 1034px #fff,
    1855px 17px #fff, 1382px 678px #fff, 1060px 1290px #fff, 1385px 1153px #fff,
    839px 1870px #fff, 1778px 1599px #fff, 932px 1633px #fff, 1288px 82px #fff,
    697px 1188px #fff, 1130px 97px #fff, 938px 455px #fff, 630px 677px #fff,
    1242px 1633px #fff, 1530px 776px #fff, 1658px 862px #fff, 513px 1210px #fff,
    207px 1240px #fff, 1564px 762px #fff, 1278px 1742px #fff, 1996px 1129px #fff,
    1081px 777px #fff, 1865px 910px #fff, 1279px 1622px #fff, 1911px 1282px #fff,
    1378px 499px #fff, 920px 1608px #fff, 1230px 1866px #fff, 415px 434px #fff,
    1567px 501px #fff, 1276px 508px #fff, 1826px 874px #fff, 949px 718px #fff,
    1892px 975px #fff, 961px 1347px #fff, 235px 880px #fff, 1888px 673px #fff,
    840px 1898px #fff, 1268px 807px #fff, 1337px 1063px #fff, 1755px 797px #fff,
    309px 1169px #fff, 27px 1831px #fff, 552px 1229px #fff, 1612px 1006px #fff,
    849px 875px #fff, 791px 593px #fff, 221px 1610px #fff, 1675px 1955px #fff,
    1933px 813px #fff, 1449px 1649px #fff, 1184px 864px #fff, 1576px 530px #fff,
    1863px 1229px #fff, 481px 462px #fff, 1124px 246px #fff, 358px 874px #fff,
    1623px 1574px #fff, 1469px 1859px #fff, 1734px 1501px #fff, 295px 991px #fff,
    1598px 1014px #fff, 12px 43px #fff, 565px 66px #fff, 1942px 1104px #fff,
    1518px 1208px #fff, 1772px 1582px #fff, 1716px 1275px #fff,
    1427px 1586px #fff, 1552px 603px #fff, 1274px 82px #fff, 484px 1507px #fff,
    1434px 1817px #fff, 1263px 259px #fff, 972px 1219px #fff, 251px 148px #fff,
    269px 1781px #fff, 130px 566px #fff, 1074px 1751px #fff, 714px 324px #fff,
    1502px 790px #fff, 1586px 1861px #fff, 195px 1215px #fff, 271px 983px #fff,
    1583px 206px #fff, 1923px 809px #fff, 237px 1826px #fff, 1353px 628px #fff,
    1132px 1026px #fff, 1861px 838px #fff, 1298px 1344px #fff, 631px 53px #fff,
    1660px 893px #fff, 975px 741px #fff, 1619px 1671px #fff, 742px 1843px #fff,
    977px 573px #fff, 168px 276px #fff, 363px 729px #fff, 625px 212px #fff,
    1403px 792px #fff, 1986px 1597px #fff, 105px 1617px #fff, 980px 1354px #fff,
    440px 728px #fff, 811px 1450px #fff, 656px 1246px #fff, 1248px 1883px #fff,
    1817px 1328px #fff, 54px 545px #fff, 494px 587px #fff, 1606px 1585px #fff,
    550px 1743px #fff, 203px 472px #fff, 784px 514px #fff, 1799px 242px #fff,
    1146px 870px #fff, 1179px 1927px #fff, 817px 697px #fff, 978px 1647px #fff,
    1318px 910px #fff, 1268px 980px #fff, 957px 90px #fff, 602px 62px #fff,
    1382px 741px #fff, 1014px 813px #fff, 1937px 1708px #fff, 1896px 880px #fff,
    993px 1286px #fff, 1310px 95px #fff, 1609px 1269px #fff, 425px 664px #fff,
    1350px 328px #fff, 1550px 99px #fff, 897px 414px #fff, 331px 614px #fff,
    585px 792px #fff, 911px 1975px #fff, 1854px 994px #fff, 964px 354px #fff,
    1601px 1552px #fff, 1508px 1344px #fff, 1158px 1274px #fff,
    1207px 803px #fff, 433px 48px #fff, 333px 130px #fff, 1454px 1149px #fff,
    1715px 1479px #fff, 1279px 1802px #fff, 1475px 442px #fff, 1885px 904px #fff,
    1871px 1065px #fff, 1256px 213px #fff, 712px 1999px #fff, 52px 383px #fff,
    162px 117px #fff, 420px 451px #fff, 1095px 1974px #fff, 1752px 1934px #fff,
    1283px 420px #fff, 929px 1087px #fff, 637px 537px #fff, 1377px 1033px #fff,
    749px 1348px #fff, 523px 1835px #fff, 344px 343px #fff, 217px 1750px #fff,
    1765px 996px #fff, 165px 1833px #fff, 1057px 1536px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 529px 206px #fff, 1644px 1387px #fff, 724px 930px #fff,
    1090px 1763px #fff, 1125px 482px #fff, 1266px 68px #fff, 1983px 594px #fff,
    772px 220px #fff, 1102px 1900px #fff, 763px 364px #fff, 1273px 1752px #fff,
    343px 149px #fff, 1357px 1263px #fff, 1936px 777px #fff, 719px 1042px #fff,
    924px 700px #fff, 1544px 478px #fff, 1876px 1736px #fff, 766px 82px #fff,
    1439px 121px #fff, 1491px 1373px #fff, 313px 235px #fff, 255px 1593px #fff,
    1694px 704px #fff, 301px 1567px #fff, 1796px 1296px #fff, 1004px 1049px #fff,
    1238px 1849px #fff, 1383px 1370px #fff, 916px 872px #fff, 1371px 1389px #fff,
    1912px 890px #fff, 1185px 726px #fff, 1967px 259px #fff, 1348px 501px #fff,
    951px 1150px #fff, 728px 1036px #fff, 1996px 1594px #fff, 36px 245px #fff,
    60px 1317px #fff, 989px 303px #fff, 1644px 1553px #fff, 1357px 1174px #fff,
    335px 1009px #fff, 1766px 926px #fff, 1153px 1651px #fff, 1480px 74px #fff,
    538px 526px #fff, 1329px 234px #fff, 367px 678px #fff, 50px 921px #fff,
    49px 980px #fff, 1659px 444px #fff, 212px 1737px #fff, 1890px 646px #fff,
    46px 1854px #fff, 877px 751px #fff, 253px 1360px #fff, 1298px 1368px #fff,
    1240px 1984px #fff, 1671px 1443px #fff, 385px 979px #fff, 1598px 433px #fff,
    1045px 837px #fff, 274px 830px #fff, 1638px 1880px #fff, 230px 1570px #fff,
    268px 81px #fff, 1618px 1965px #fff, 351px 931px #fff, 1390px 1095px #fff,
    80px 1316px #fff, 782px 494px #fff, 915px 947px #fff, 36px 901px #fff,
    1683px 1986px #fff, 1774px 1515px #fff, 1241px 787px #fff, 1036px 541px #fff,
    1048px 930px #fff, 518px 88px #fff, 1157px 320px #fff, 583px 1820px #fff,
    1531px 324px #fff, 541px 1668px #fff, 852px 1112px #fff, 38px 1907px #fff,
    1199px 351px #fff, 869px 1327px #fff, 1343px 900px #fff, 869px 265px #fff,
    64px 631px #fff, 146px 1211px #fff, 327px 1858px #fff, 1813px 209px #fff,
    1904px 1461px #fff, 465px 1681px #fff, 1959px 1996px #fff, 553px 1145px #fff,
    449px 352px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 529px 206px #fff, 1644px 1387px #fff, 724px 930px #fff,
    1090px 1763px #fff, 1125px 482px #fff, 1266px 68px #fff, 1983px 594px #fff,
    772px 220px #fff, 1102px 1900px #fff, 763px 364px #fff, 1273px 1752px #fff,
    343px 149px #fff, 1357px 1263px #fff, 1936px 777px #fff, 719px 1042px #fff,
    924px 700px #fff, 1544px 478px #fff, 1876px 1736px #fff, 766px 82px #fff,
    1439px 121px #fff, 1491px 1373px #fff, 313px 235px #fff, 255px 1593px #fff,
    1694px 704px #fff, 301px 1567px #fff, 1796px 1296px #fff, 1004px 1049px #fff,
    1238px 1849px #fff, 1383px 1370px #fff, 916px 872px #fff, 1371px 1389px #fff,
    1912px 890px #fff, 1185px 726px #fff, 1967px 259px #fff, 1348px 501px #fff,
    951px 1150px #fff, 728px 1036px #fff, 1996px 1594px #fff, 36px 245px #fff,
    60px 1317px #fff, 989px 303px #fff, 1644px 1553px #fff, 1357px 1174px #fff,
    335px 1009px #fff, 1766px 926px #fff, 1153px 1651px #fff, 1480px 74px #fff,
    538px 526px #fff, 1329px 234px #fff, 367px 678px #fff, 50px 921px #fff,
    49px 980px #fff, 1659px 444px #fff, 212px 1737px #fff, 1890px 646px #fff,
    46px 1854px #fff, 877px 751px #fff, 253px 1360px #fff, 1298px 1368px #fff,
    1240px 1984px #fff, 1671px 1443px #fff, 385px 979px #fff, 1598px 433px #fff,
    1045px 837px #fff, 274px 830px #fff, 1638px 1880px #fff, 230px 1570px #fff,
    268px 81px #fff, 1618px 1965px #fff, 351px 931px #fff, 1390px 1095px #fff,
    80px 1316px #fff, 782px 494px #fff, 915px 947px #fff, 36px 901px #fff,
    1683px 1986px #fff, 1774px 1515px #fff, 1241px 787px #fff, 1036px 541px #fff,
    1048px 930px #fff, 518px 88px #fff, 1157px 320px #fff, 583px 1820px #fff,
    1531px 324px #fff, 541px 1668px #fff, 852px 1112px #fff, 38px 1907px #fff,
    1199px 351px #fff, 869px 1327px #fff, 1343px 900px #fff, 869px 265px #fff,
    64px 631px #fff, 146px 1211px #fff, 327px 1858px #fff, 1813px 209px #fff,
    1904px 1461px #fff, 465px 1681px #fff, 1959px 1996px #fff, 553px 1145px #fff,
    449px 352px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
