html {
  height: 100%;
  background-color: black;
  overflow: auto;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 888px 122px #fff, 640px 229px #fff, 1371px 1891px #fff,
    1472px 1301px #fff, 1441px 268px #fff, 750px 310px #fff, 683px 1452px #fff,
    894px 902px #fff, 494px 868px #fff, 1486px 929px #fff, 1882px 1453px #fff,
    589px 73px #fff, 603px 87px #fff, 1172px 412px #fff, 893px 880px #fff,
    820px 142px #fff, 748px 1404px #fff, 1246px 313px #fff, 581px 192px #fff,
    623px 574px #fff, 589px 1419px #fff, 801px 961px #fff, 1999px 253px #fff,
    29px 991px #fff, 1450px 617px #fff, 1342px 699px #fff, 7px 903px #fff,
    1626px 1344px #fff, 608px 525px #fff, 1816px 160px #fff, 722px 398px #fff,
    1728px 129px #fff, 1334px 1339px #fff, 1827px 1062px #fff,
    1871px 1214px #fff, 1249px 667px #fff, 1098px 1365px #fff, 607px 809px #fff,
    724px 45px #fff, 1978px 869px #fff, 1415px 133px #fff, 351px 357px #fff,
    1571px 1967px #fff, 928px 549px #fff, 1803px 493px #fff, 75px 1078px #fff,
    425px 1079px #fff, 1294px 1710px #fff, 131px 326px #fff, 1685px 621px #fff,
    1435px 1342px #fff, 1183px 1782px #fff, 1771px 803px #fff,
    1771px 1995px #fff, 1070px 1537px #fff, 843px 1703px #fff, 24px 1465px #fff,
    661px 1499px #fff, 660px 1755px #fff, 90px 733px #fff, 125px 1805px #fff,
    397px 1731px #fff, 617px 752px #fff, 1181px 577px #fff, 1092px 1569px #fff,
    846px 1944px #fff, 965px 1739px #fff, 1566px 1035px #fff, 1584px 1724px #fff,
    827px 1067px #fff, 1440px 99px #fff, 1220px 262px #fff, 665px 857px #fff,
    939px 443px #fff, 42px 185px #fff, 1976px 1784px #fff, 1783px 1886px #fff,
    881px 262px #fff, 1970px 1474px #fff, 1976px 1106px #fff, 881px 551px #fff,
    1728px 1690px #fff, 791px 1062px #fff, 1045px 1085px #fff, 937px 1960px #fff,
    123px 378px #fff, 1572px 1898px #fff, 1170px 1650px #fff, 1981px 37px #fff,
    1718px 923px #fff, 32px 175px #fff, 1198px 197px #fff, 1714px 1388px #fff,
    209px 998px #fff, 705px 1865px #fff, 991px 1397px #fff, 1100px 174px #fff,
    218px 861px #fff, 1355px 620px #fff, 1432px 17px #fff, 1702px 78px #fff,
    1357px 322px #fff, 1075px 663px #fff, 1916px 1763px #fff, 1339px 427px #fff,
    1386px 1220px #fff, 651px 781px #fff, 1727px 1816px #fff, 608px 864px #fff,
    1693px 1801px #fff, 827px 140px #fff, 752px 1989px #fff, 58px 789px #fff,
    681px 989px #fff, 477px 530px #fff, 87px 1599px #fff, 1067px 1173px #fff,
    1735px 1219px #fff, 1110px 207px #fff, 1610px 79px #fff, 1480px 486px #fff,
    1481px 93px #fff, 1698px 1584px #fff, 238px 1446px #fff, 1048px 274px #fff,
    557px 1840px #fff, 1805px 1088px #fff, 1917px 1383px #fff,
    1883px 1594px #fff, 155px 824px #fff, 1244px 1865px #fff, 604px 919px #fff,
    547px 376px #fff, 1066px 1363px #fff, 1128px 1072px #fff, 1988px 402px #fff,
    100px 1989px #fff, 62px 1201px #fff, 1272px 1911px #fff, 616px 749px #fff,
    1686px 618px #fff, 1710px 1714px #fff, 243px 1573px #fff, 1814px 579px #fff,
    172px 1434px #fff, 1787px 66px #fff, 1155px 877px #fff, 805px 645px #fff,
    901px 1073px #fff, 1410px 1146px #fff, 1147px 1307px #fff, 373px 762px #fff,
    364px 577px #fff, 834px 1517px #fff, 904px 568px #fff, 1006px 1943px #fff,
    1607px 282px #fff, 1284px 675px #fff, 1626px 1340px #fff, 1209px 34px #fff,
    1172px 961px #fff, 933px 546px #fff, 433px 988px #fff, 1765px 1453px #fff,
    449px 1933px #fff, 1768px 20px #fff, 45px 1278px #fff, 1864px 235px #fff,
    192px 832px #fff, 886px 522px #fff, 1452px 615px #fff, 1914px 600px #fff,
    968px 1185px #fff, 621px 1955px #fff, 409px 395px #fff, 414px 1840px #fff,
    580px 1851px #fff, 277px 1893px #fff, 929px 523px #fff, 1830px 390px #fff,
    3px 531px #fff, 716px 1926px #fff, 1053px 1310px #fff, 459px 1854px #fff,
    1607px 1544px #fff, 114px 1450px #fff, 1733px 23px #fff, 469px 52px #fff,
    351px 1265px #fff, 376px 1134px #fff, 1113px 1844px #fff, 693px 1058px #fff,
    285px 1114px #fff, 1568px 1931px #fff, 1532px 1663px #fff, 302px 1492px #fff,
    1114px 263px #fff, 1333px 1812px #fff, 1073px 859px #fff, 1396px 1668px #fff,
    1530px 642px #fff, 567px 1503px #fff, 1096px 1974px #fff, 537px 796px #fff,
    859px 1945px #fff, 1698px 232px #fff, 1554px 1372px #fff, 522px 95px #fff,
    892px 816px #fff, 1578px 265px #fff, 422px 1593px #fff, 779px 1294px #fff,
    1756px 534px #fff, 321px 1700px #fff, 1275px 1071px #fff, 1357px 1062px #fff,
    1735px 1551px #fff, 838px 166px #fff, 591px 832px #fff, 452px 1870px #fff,
    520px 1973px #fff, 1284px 1768px #fff, 1638px 809px #fff, 631px 1151px #fff,
    1789px 550px #fff, 374px 34px #fff, 356px 723px #fff, 1154px 1297px #fff,
    141px 1564px #fff, 1749px 747px #fff, 1153px 1942px #fff, 1831px 1539px #fff,
    1612px 137px #fff, 1878px 969px #fff, 319px 1124px #fff, 1651px 608px #fff,
    1821px 1883px #fff, 1258px 1470px #fff, 378px 179px #fff, 1721px 78px #fff,
    1483px 1285px #fff, 727px 10px #fff, 1563px 604px #fff, 1599px 1369px #fff,
    1258px 661px #fff, 1001px 128px #fff, 689px 870px #fff, 1105px 529px #fff,
    462px 893px #fff, 1705px 1456px #fff, 1423px 708px #fff, 252px 237px #fff,
    530px 1174px #fff, 340px 1968px #fff, 1690px 900px #fff, 536px 936px #fff,
    365px 240px #fff, 29px 1926px #fff, 1836px 1530px #fff, 874px 1001px #fff,
    881px 1292px #fff, 659px 85px #fff, 437px 37px #fff, 107px 25px #fff,
    1434px 1570px #fff, 1930px 1239px #fff, 1455px 13px #fff, 598px 1953px #fff,
    996px 1469px #fff, 602px 535px #fff, 1607px 648px #fff, 1705px 108px #fff,
    521px 840px #fff, 369px 661px #fff, 103px 1431px #fff, 542px 961px #fff,
    902px 1018px #fff, 50px 81px #fff, 95px 1208px #fff, 528px 1654px #fff,
    392px 694px #fff, 668px 1239px #fff, 194px 1912px #fff, 675px 1660px #fff,
    996px 1598px #fff, 1123px 426px #fff, 1667px 1277px #fff, 328px 461px #fff,
    1893px 980px #fff, 1306px 1164px #fff, 1896px 571px #fff, 611px 1967px #fff,
    1387px 783px #fff, 320px 1941px #fff, 338px 1297px #fff, 1525px 992px #fff,
    423px 941px #fff, 1136px 86px #fff, 1787px 1345px #fff, 607px 1410px #fff,
    1163px 83px #fff, 562px 598px #fff, 978px 1432px #fff, 1031px 1697px #fff,
    1789px 1630px #fff, 1998px 533px #fff, 832px 155px #fff, 1876px 384px #fff,
    563px 1429px #fff, 1562px 1854px #fff, 1744px 610px #fff, 960px 668px #fff,
    80px 34px #fff, 547px 650px #fff, 1606px 450px #fff, 657px 1597px #fff,
    1514px 1613px #fff, 1395px 6px #fff, 1395px 1160px #fff, 423px 655px #fff,
    1713px 410px #fff, 37px 464px #fff, 1018px 717px #fff, 1068px 1322px #fff,
    68px 1654px #fff, 792px 216px #fff, 1487px 468px #fff, 964px 1463px #fff,
    845px 1179px #fff, 1409px 1310px #fff, 880px 1229px #fff, 944px 1930px #fff,
    1061px 764px #fff, 558px 741px #fff, 543px 1352px #fff, 857px 1410px #fff,
    1430px 1006px #fff, 1947px 766px #fff, 759px 1358px #fff, 527px 1990px #fff,
    1144px 1749px #fff, 827px 947px #fff, 384px 645px #fff, 1938px 1365px #fff,
    217px 105px #fff, 1744px 154px #fff, 552px 733px #fff, 1354px 599px #fff,
    1049px 1946px #fff, 529px 318px #fff, 1104px 5px #fff, 425px 310px #fff,
    250px 1778px #fff, 1625px 745px #fff, 1678px 1331px #fff, 337px 1512px #fff,
    1673px 1042px #fff, 1031px 1824px #fff, 1372px 1628px #fff,
    1693px 822px #fff, 464px 721px #fff, 311px 392px #fff, 795px 678px #fff,
    1563px 1599px #fff, 460px 19px #fff, 703px 173px #fff, 1665px 1837px #fff,
    1456px 1953px #fff, 619px 1147px #fff, 1867px 18px #fff, 1361px 279px #fff,
    1182px 279px #fff, 1093px 1002px #fff, 1385px 1110px #fff,
    1741px 1788px #fff, 760px 1595px #fff, 27px 538px #fff, 1356px 862px #fff,
    1691px 1890px #fff, 759px 981px #fff, 1157px 1586px #fff, 408px 1055px #fff,
    1189px 1343px #fff, 919px 157px #fff, 876px 159px #fff, 1269px 447px #fff,
    1080px 396px #fff, 1191px 1243px #fff, 1468px 1021px #fff, 58px 1434px #fff,
    1204px 203px #fff, 940px 1507px #fff, 139px 186px #fff, 357px 877px #fff,
    509px 777px #fff, 333px 500px #fff, 1033px 643px #fff, 396px 1413px #fff,
    613px 404px #fff, 1346px 333px #fff, 1350px 1842px #fff, 418px 1890px #fff,
    452px 1488px #fff, 1219px 490px #fff, 1851px 14px #fff, 1384px 1967px #fff,
    1515px 503px #fff, 1108px 322px #fff, 532px 202px #fff, 788px 808px #fff,
    782px 1702px #fff, 272px 881px #fff, 1718px 1516px #fff, 1595px 826px #fff,
    462px 181px #fff, 552px 960px #fff, 363px 72px #fff, 995px 1732px #fff,
    1608px 43px #fff, 489px 1905px #fff, 665px 528px #fff, 57px 563px #fff,
    1844px 773px #fff, 916px 1034px #fff, 1498px 1435px #fff, 880px 432px #fff,
    1507px 914px #fff, 1641px 1572px #fff, 1866px 1688px #fff, 1854px 164px #fff,
    733px 1119px #fff, 1198px 455px #fff, 494px 1172px #fff, 1692px 1111px #fff,
    1502px 763px #fff, 731px 544px #fff, 1102px 1453px #fff, 1841px 1215px #fff,
    1293px 1180px #fff, 1842px 1980px #fff, 483px 362px #fff, 1456px 562px #fff,
    1013px 147px #fff, 1064px 1323px #fff, 1304px 10px #fff, 1205px 286px #fff,
    1153px 245px #fff, 588px 1423px #fff, 1758px 97px #fff, 85px 1035px #fff,
    45px 1679px #fff, 1011px 679px #fff, 721px 1692px #fff, 1978px 1821px #fff,
    1329px 40px #fff, 1228px 1162px #fff, 1462px 587px #fff, 1768px 1083px #fff,
    958px 1933px #fff, 79px 669px #fff, 223px 983px #fff, 330px 1269px #fff,
    1181px 240px #fff, 79px 1525px #fff, 547px 1461px #fff, 665px 1988px #fff,
    762px 1811px #fff, 187px 334px #fff, 1587px 690px #fff, 1200px 1043px #fff,
    840px 625px #fff, 710px 943px #fff, 1731px 1923px #fff, 42px 1515px #fff,
    1001px 345px #fff, 226px 1574px #fff, 485px 62px #fff, 1735px 108px #fff,
    1189px 1785px #fff, 1263px 1496px #fff, 1089px 93px #fff, 1848px 1157px #fff,
    1083px 950px #fff, 950px 1596px #fff, 1860px 187px #fff, 774px 187px #fff,
    1408px 670px #fff, 1566px 832px #fff, 975px 1954px #fff, 1837px 1127px #fff,
    1975px 743px #fff, 284px 1651px #fff, 1444px 1221px #fff, 360px 857px #fff,
    626px 343px #fff, 1474px 1794px #fff, 1738px 714px #fff, 1468px 1884px #fff,
    658px 96px #fff, 116px 523px #fff, 285px 1026px #fff, 1512px 1934px #fff,
    1039px 198px #fff, 426px 1683px #fff, 1180px 464px #fff, 1864px 100px #fff,
    671px 1770px #fff, 747px 852px #fff, 1285px 930px #fff, 48px 676px #fff,
    973px 401px #fff, 1807px 1253px #fff, 1154px 235px #fff, 1117px 266px #fff,
    97px 234px #fff, 1038px 759px #fff, 1391px 1423px #fff, 1402px 1189px #fff,
    509px 821px #fff, 1208px 628px #fff, 1525px 441px #fff, 1392px 1358px #fff,
    1369px 493px #fff, 1785px 1009px #fff, 1972px 442px #fff, 1111px 1069px #fff,
    640px 456px #fff, 1628px 931px #fff, 294px 944px #fff, 1834px 973px #fff,
    1754px 105px #fff, 1801px 1184px #fff, 1680px 1301px #fff, 587px 337px #fff,
    623px 588px #fff, 1341px 1650px #fff, 1891px 1254px #fff, 577px 808px #fff,
    1137px 300px #fff, 1952px 723px #fff, 1253px 962px #fff, 1148px 1579px #fff,
    1106px 1990px #fff, 316px 240px #fff, 1353px 1136px #fff, 944px 1690px #fff,
    1824px 10px #fff, 1209px 1083px #fff, 515px 1788px #fff, 679px 95px #fff,
    647px 217px #fff, 1840px 1256px #fff, 1918px 1339px #fff, 591px 1129px #fff,
    482px 356px #fff, 1181px 1493px #fff, 1015px 1991px #fff, 1027px 1907px #fff,
    1129px 256px #fff, 1940px 1831px #fff, 140px 396px #fff, 1655px 446px #fff,
    1456px 921px #fff, 472px 1621px #fff, 82px 61px #fff, 1027px 476px #fff,
    1434px 397px #fff, 1343px 489px #fff, 1163px 1738px #fff, 1515px 279px #fff,
    1932px 72px #fff, 1042px 1620px #fff, 1852px 556px #fff, 965px 363px #fff,
    382px 387px #fff, 694px 927px #fff, 1389px 1985px #fff, 509px 1516px #fff,
    775px 271px #fff, 1658px 63px #fff, 1654px 837px #fff, 125px 1393px #fff,
    1720px 700px #fff, 835px 1447px #fff, 1900px 642px #fff, 729px 31px #fff,
    569px 418px #fff, 1102px 1282px #fff, 1313px 927px #fff, 1361px 178px #fff,
    675px 332px #fff, 377px 1802px #fff, 626px 395px #fff, 31px 96px #fff,
    1414px 1017px #fff, 796px 67px #fff, 1494px 1980px #fff, 706px 669px #fff,
    1216px 1506px #fff, 354px 760px #fff, 1116px 1887px #fff, 1985px 62px #fff,
    846px 120px #fff, 1256px 644px #fff, 1512px 1700px #fff, 1047px 1127px #fff,
    1085px 1117px #fff, 1643px 317px #fff, 1272px 145px #fff, 1275px 469px #fff,
    1312px 30px #fff, 510px 788px #fff, 425px 1263px #fff, 1099px 511px #fff,
    1038px 318px #fff, 1130px 1054px #fff, 663px 285px #fff, 30px 706px #fff,
    1115px 768px #fff, 1607px 182px #fff, 250px 525px #fff, 918px 1770px #fff,
    452px 463px #fff, 1495px 1477px #fff, 48px 194px #fff, 559px 1306px #fff,
    1552px 799px #fff, 1906px 1397px #fff, 1472px 1877px #fff, 1889px 26px #fff,
    155px 321px #fff, 665px 468px #fff, 345px 992px #fff, 1145px 952px #fff,
    1672px 805px #fff, 1961px 536px #fff, 22px 1659px #fff, 132px 1376px #fff,
    312px 1419px #fff, 43px 847px #fff, 800px 143px #fff, 32px 377px #fff,
    429px 1981px #fff, 1830px 180px #fff, 1667px 1380px #fff, 1478px 87px #fff,
    11px 322px #fff, 1631px 1580px #fff, 951px 1230px #fff, 1857px 1939px #fff,
    593px 1314px #fff, 704px 375px #fff, 1445px 505px #fff, 1368px 596px #fff,
    1522px 931px #fff, 1939px 188px #fff, 226px 661px #fff, 713px 744px #fff,
    33px 1264px #fff, 1050px 487px #fff, 474px 1933px #fff, 389px 1919px #fff,
    1790px 1117px #fff, 982px 1551px #fff, 671px 1508px #fff, 402px 155px #fff,
    681px 467px #fff, 325px 168px #fff, 1902px 237px #fff, 78px 1341px #fff,
    17px 602px #fff, 1741px 1141px #fff, 21px 485px #fff, 107px 1316px #fff,
    713px 688px #fff, 1099px 375px #fff, 1347px 315px #fff, 1436px 1691px #fff,
    1345px 700px #fff, 1447px 1008px #fff, 538px 1628px #fff, 744px 561px #fff,
    977px 207px #fff, 950px 481px #fff, 1599px 1100px #fff, 399px 1762px #fff,
    447px 204px #fff, 64px 521px #fff, 412px 805px #fff, 665px 438px #fff,
    1698px 1097px #fff, 191px 569px #fff, 1720px 1862px #fff, 1142px 1688px #fff,
    912px 1982px #fff, 1489px 662px #fff, 1145px 232px #fff, 864px 1004px #fff,
    1483px 1533px #fff, 1770px 489px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 888px 122px #fff, 640px 229px #fff, 1371px 1891px #fff,
    1472px 1301px #fff, 1441px 268px #fff, 750px 310px #fff, 683px 1452px #fff,
    894px 902px #fff, 494px 868px #fff, 1486px 929px #fff, 1882px 1453px #fff,
    589px 73px #fff, 603px 87px #fff, 1172px 412px #fff, 893px 880px #fff,
    820px 142px #fff, 748px 1404px #fff, 1246px 313px #fff, 581px 192px #fff,
    623px 574px #fff, 589px 1419px #fff, 801px 961px #fff, 1999px 253px #fff,
    29px 991px #fff, 1450px 617px #fff, 1342px 699px #fff, 7px 903px #fff,
    1626px 1344px #fff, 608px 525px #fff, 1816px 160px #fff, 722px 398px #fff,
    1728px 129px #fff, 1334px 1339px #fff, 1827px 1062px #fff,
    1871px 1214px #fff, 1249px 667px #fff, 1098px 1365px #fff, 607px 809px #fff,
    724px 45px #fff, 1978px 869px #fff, 1415px 133px #fff, 351px 357px #fff,
    1571px 1967px #fff, 928px 549px #fff, 1803px 493px #fff, 75px 1078px #fff,
    425px 1079px #fff, 1294px 1710px #fff, 131px 326px #fff, 1685px 621px #fff,
    1435px 1342px #fff, 1183px 1782px #fff, 1771px 803px #fff,
    1771px 1995px #fff, 1070px 1537px #fff, 843px 1703px #fff, 24px 1465px #fff,
    661px 1499px #fff, 660px 1755px #fff, 90px 733px #fff, 125px 1805px #fff,
    397px 1731px #fff, 617px 752px #fff, 1181px 577px #fff, 1092px 1569px #fff,
    846px 1944px #fff, 965px 1739px #fff, 1566px 1035px #fff, 1584px 1724px #fff,
    827px 1067px #fff, 1440px 99px #fff, 1220px 262px #fff, 665px 857px #fff,
    939px 443px #fff, 42px 185px #fff, 1976px 1784px #fff, 1783px 1886px #fff,
    881px 262px #fff, 1970px 1474px #fff, 1976px 1106px #fff, 881px 551px #fff,
    1728px 1690px #fff, 791px 1062px #fff, 1045px 1085px #fff, 937px 1960px #fff,
    123px 378px #fff, 1572px 1898px #fff, 1170px 1650px #fff, 1981px 37px #fff,
    1718px 923px #fff, 32px 175px #fff, 1198px 197px #fff, 1714px 1388px #fff,
    209px 998px #fff, 705px 1865px #fff, 991px 1397px #fff, 1100px 174px #fff,
    218px 861px #fff, 1355px 620px #fff, 1432px 17px #fff, 1702px 78px #fff,
    1357px 322px #fff, 1075px 663px #fff, 1916px 1763px #fff, 1339px 427px #fff,
    1386px 1220px #fff, 651px 781px #fff, 1727px 1816px #fff, 608px 864px #fff,
    1693px 1801px #fff, 827px 140px #fff, 752px 1989px #fff, 58px 789px #fff,
    681px 989px #fff, 477px 530px #fff, 87px 1599px #fff, 1067px 1173px #fff,
    1735px 1219px #fff, 1110px 207px #fff, 1610px 79px #fff, 1480px 486px #fff,
    1481px 93px #fff, 1698px 1584px #fff, 238px 1446px #fff, 1048px 274px #fff,
    557px 1840px #fff, 1805px 1088px #fff, 1917px 1383px #fff,
    1883px 1594px #fff, 155px 824px #fff, 1244px 1865px #fff, 604px 919px #fff,
    547px 376px #fff, 1066px 1363px #fff, 1128px 1072px #fff, 1988px 402px #fff,
    100px 1989px #fff, 62px 1201px #fff, 1272px 1911px #fff, 616px 749px #fff,
    1686px 618px #fff, 1710px 1714px #fff, 243px 1573px #fff, 1814px 579px #fff,
    172px 1434px #fff, 1787px 66px #fff, 1155px 877px #fff, 805px 645px #fff,
    901px 1073px #fff, 1410px 1146px #fff, 1147px 1307px #fff, 373px 762px #fff,
    364px 577px #fff, 834px 1517px #fff, 904px 568px #fff, 1006px 1943px #fff,
    1607px 282px #fff, 1284px 675px #fff, 1626px 1340px #fff, 1209px 34px #fff,
    1172px 961px #fff, 933px 546px #fff, 433px 988px #fff, 1765px 1453px #fff,
    449px 1933px #fff, 1768px 20px #fff, 45px 1278px #fff, 1864px 235px #fff,
    192px 832px #fff, 886px 522px #fff, 1452px 615px #fff, 1914px 600px #fff,
    968px 1185px #fff, 621px 1955px #fff, 409px 395px #fff, 414px 1840px #fff,
    580px 1851px #fff, 277px 1893px #fff, 929px 523px #fff, 1830px 390px #fff,
    3px 531px #fff, 716px 1926px #fff, 1053px 1310px #fff, 459px 1854px #fff,
    1607px 1544px #fff, 114px 1450px #fff, 1733px 23px #fff, 469px 52px #fff,
    351px 1265px #fff, 376px 1134px #fff, 1113px 1844px #fff, 693px 1058px #fff,
    285px 1114px #fff, 1568px 1931px #fff, 1532px 1663px #fff, 302px 1492px #fff,
    1114px 263px #fff, 1333px 1812px #fff, 1073px 859px #fff, 1396px 1668px #fff,
    1530px 642px #fff, 567px 1503px #fff, 1096px 1974px #fff, 537px 796px #fff,
    859px 1945px #fff, 1698px 232px #fff, 1554px 1372px #fff, 522px 95px #fff,
    892px 816px #fff, 1578px 265px #fff, 422px 1593px #fff, 779px 1294px #fff,
    1756px 534px #fff, 321px 1700px #fff, 1275px 1071px #fff, 1357px 1062px #fff,
    1735px 1551px #fff, 838px 166px #fff, 591px 832px #fff, 452px 1870px #fff,
    520px 1973px #fff, 1284px 1768px #fff, 1638px 809px #fff, 631px 1151px #fff,
    1789px 550px #fff, 374px 34px #fff, 356px 723px #fff, 1154px 1297px #fff,
    141px 1564px #fff, 1749px 747px #fff, 1153px 1942px #fff, 1831px 1539px #fff,
    1612px 137px #fff, 1878px 969px #fff, 319px 1124px #fff, 1651px 608px #fff,
    1821px 1883px #fff, 1258px 1470px #fff, 378px 179px #fff, 1721px 78px #fff,
    1483px 1285px #fff, 727px 10px #fff, 1563px 604px #fff, 1599px 1369px #fff,
    1258px 661px #fff, 1001px 128px #fff, 689px 870px #fff, 1105px 529px #fff,
    462px 893px #fff, 1705px 1456px #fff, 1423px 708px #fff, 252px 237px #fff,
    530px 1174px #fff, 340px 1968px #fff, 1690px 900px #fff, 536px 936px #fff,
    365px 240px #fff, 29px 1926px #fff, 1836px 1530px #fff, 874px 1001px #fff,
    881px 1292px #fff, 659px 85px #fff, 437px 37px #fff, 107px 25px #fff,
    1434px 1570px #fff, 1930px 1239px #fff, 1455px 13px #fff, 598px 1953px #fff,
    996px 1469px #fff, 602px 535px #fff, 1607px 648px #fff, 1705px 108px #fff,
    521px 840px #fff, 369px 661px #fff, 103px 1431px #fff, 542px 961px #fff,
    902px 1018px #fff, 50px 81px #fff, 95px 1208px #fff, 528px 1654px #fff,
    392px 694px #fff, 668px 1239px #fff, 194px 1912px #fff, 675px 1660px #fff,
    996px 1598px #fff, 1123px 426px #fff, 1667px 1277px #fff, 328px 461px #fff,
    1893px 980px #fff, 1306px 1164px #fff, 1896px 571px #fff, 611px 1967px #fff,
    1387px 783px #fff, 320px 1941px #fff, 338px 1297px #fff, 1525px 992px #fff,
    423px 941px #fff, 1136px 86px #fff, 1787px 1345px #fff, 607px 1410px #fff,
    1163px 83px #fff, 562px 598px #fff, 978px 1432px #fff, 1031px 1697px #fff,
    1789px 1630px #fff, 1998px 533px #fff, 832px 155px #fff, 1876px 384px #fff,
    563px 1429px #fff, 1562px 1854px #fff, 1744px 610px #fff, 960px 668px #fff,
    80px 34px #fff, 547px 650px #fff, 1606px 450px #fff, 657px 1597px #fff,
    1514px 1613px #fff, 1395px 6px #fff, 1395px 1160px #fff, 423px 655px #fff,
    1713px 410px #fff, 37px 464px #fff, 1018px 717px #fff, 1068px 1322px #fff,
    68px 1654px #fff, 792px 216px #fff, 1487px 468px #fff, 964px 1463px #fff,
    845px 1179px #fff, 1409px 1310px #fff, 880px 1229px #fff, 944px 1930px #fff,
    1061px 764px #fff, 558px 741px #fff, 543px 1352px #fff, 857px 1410px #fff,
    1430px 1006px #fff, 1947px 766px #fff, 759px 1358px #fff, 527px 1990px #fff,
    1144px 1749px #fff, 827px 947px #fff, 384px 645px #fff, 1938px 1365px #fff,
    217px 105px #fff, 1744px 154px #fff, 552px 733px #fff, 1354px 599px #fff,
    1049px 1946px #fff, 529px 318px #fff, 1104px 5px #fff, 425px 310px #fff,
    250px 1778px #fff, 1625px 745px #fff, 1678px 1331px #fff, 337px 1512px #fff,
    1673px 1042px #fff, 1031px 1824px #fff, 1372px 1628px #fff,
    1693px 822px #fff, 464px 721px #fff, 311px 392px #fff, 795px 678px #fff,
    1563px 1599px #fff, 460px 19px #fff, 703px 173px #fff, 1665px 1837px #fff,
    1456px 1953px #fff, 619px 1147px #fff, 1867px 18px #fff, 1361px 279px #fff,
    1182px 279px #fff, 1093px 1002px #fff, 1385px 1110px #fff,
    1741px 1788px #fff, 760px 1595px #fff, 27px 538px #fff, 1356px 862px #fff,
    1691px 1890px #fff, 759px 981px #fff, 1157px 1586px #fff, 408px 1055px #fff,
    1189px 1343px #fff, 919px 157px #fff, 876px 159px #fff, 1269px 447px #fff,
    1080px 396px #fff, 1191px 1243px #fff, 1468px 1021px #fff, 58px 1434px #fff,
    1204px 203px #fff, 940px 1507px #fff, 139px 186px #fff, 357px 877px #fff,
    509px 777px #fff, 333px 500px #fff, 1033px 643px #fff, 396px 1413px #fff,
    613px 404px #fff, 1346px 333px #fff, 1350px 1842px #fff, 418px 1890px #fff,
    452px 1488px #fff, 1219px 490px #fff, 1851px 14px #fff, 1384px 1967px #fff,
    1515px 503px #fff, 1108px 322px #fff, 532px 202px #fff, 788px 808px #fff,
    782px 1702px #fff, 272px 881px #fff, 1718px 1516px #fff, 1595px 826px #fff,
    462px 181px #fff, 552px 960px #fff, 363px 72px #fff, 995px 1732px #fff,
    1608px 43px #fff, 489px 1905px #fff, 665px 528px #fff, 57px 563px #fff,
    1844px 773px #fff, 916px 1034px #fff, 1498px 1435px #fff, 880px 432px #fff,
    1507px 914px #fff, 1641px 1572px #fff, 1866px 1688px #fff, 1854px 164px #fff,
    733px 1119px #fff, 1198px 455px #fff, 494px 1172px #fff, 1692px 1111px #fff,
    1502px 763px #fff, 731px 544px #fff, 1102px 1453px #fff, 1841px 1215px #fff,
    1293px 1180px #fff, 1842px 1980px #fff, 483px 362px #fff, 1456px 562px #fff,
    1013px 147px #fff, 1064px 1323px #fff, 1304px 10px #fff, 1205px 286px #fff,
    1153px 245px #fff, 588px 1423px #fff, 1758px 97px #fff, 85px 1035px #fff,
    45px 1679px #fff, 1011px 679px #fff, 721px 1692px #fff, 1978px 1821px #fff,
    1329px 40px #fff, 1228px 1162px #fff, 1462px 587px #fff, 1768px 1083px #fff,
    958px 1933px #fff, 79px 669px #fff, 223px 983px #fff, 330px 1269px #fff,
    1181px 240px #fff, 79px 1525px #fff, 547px 1461px #fff, 665px 1988px #fff,
    762px 1811px #fff, 187px 334px #fff, 1587px 690px #fff, 1200px 1043px #fff,
    840px 625px #fff, 710px 943px #fff, 1731px 1923px #fff, 42px 1515px #fff,
    1001px 345px #fff, 226px 1574px #fff, 485px 62px #fff, 1735px 108px #fff,
    1189px 1785px #fff, 1263px 1496px #fff, 1089px 93px #fff, 1848px 1157px #fff,
    1083px 950px #fff, 950px 1596px #fff, 1860px 187px #fff, 774px 187px #fff,
    1408px 670px #fff, 1566px 832px #fff, 975px 1954px #fff, 1837px 1127px #fff,
    1975px 743px #fff, 284px 1651px #fff, 1444px 1221px #fff, 360px 857px #fff,
    626px 343px #fff, 1474px 1794px #fff, 1738px 714px #fff, 1468px 1884px #fff,
    658px 96px #fff, 116px 523px #fff, 285px 1026px #fff, 1512px 1934px #fff,
    1039px 198px #fff, 426px 1683px #fff, 1180px 464px #fff, 1864px 100px #fff,
    671px 1770px #fff, 747px 852px #fff, 1285px 930px #fff, 48px 676px #fff,
    973px 401px #fff, 1807px 1253px #fff, 1154px 235px #fff, 1117px 266px #fff,
    97px 234px #fff, 1038px 759px #fff, 1391px 1423px #fff, 1402px 1189px #fff,
    509px 821px #fff, 1208px 628px #fff, 1525px 441px #fff, 1392px 1358px #fff,
    1369px 493px #fff, 1785px 1009px #fff, 1972px 442px #fff, 1111px 1069px #fff,
    640px 456px #fff, 1628px 931px #fff, 294px 944px #fff, 1834px 973px #fff,
    1754px 105px #fff, 1801px 1184px #fff, 1680px 1301px #fff, 587px 337px #fff,
    623px 588px #fff, 1341px 1650px #fff, 1891px 1254px #fff, 577px 808px #fff,
    1137px 300px #fff, 1952px 723px #fff, 1253px 962px #fff, 1148px 1579px #fff,
    1106px 1990px #fff, 316px 240px #fff, 1353px 1136px #fff, 944px 1690px #fff,
    1824px 10px #fff, 1209px 1083px #fff, 515px 1788px #fff, 679px 95px #fff,
    647px 217px #fff, 1840px 1256px #fff, 1918px 1339px #fff, 591px 1129px #fff,
    482px 356px #fff, 1181px 1493px #fff, 1015px 1991px #fff, 1027px 1907px #fff,
    1129px 256px #fff, 1940px 1831px #fff, 140px 396px #fff, 1655px 446px #fff,
    1456px 921px #fff, 472px 1621px #fff, 82px 61px #fff, 1027px 476px #fff,
    1434px 397px #fff, 1343px 489px #fff, 1163px 1738px #fff, 1515px 279px #fff,
    1932px 72px #fff, 1042px 1620px #fff, 1852px 556px #fff, 965px 363px #fff,
    382px 387px #fff, 694px 927px #fff, 1389px 1985px #fff, 509px 1516px #fff,
    775px 271px #fff, 1658px 63px #fff, 1654px 837px #fff, 125px 1393px #fff,
    1720px 700px #fff, 835px 1447px #fff, 1900px 642px #fff, 729px 31px #fff,
    569px 418px #fff, 1102px 1282px #fff, 1313px 927px #fff, 1361px 178px #fff,
    675px 332px #fff, 377px 1802px #fff, 626px 395px #fff, 31px 96px #fff,
    1414px 1017px #fff, 796px 67px #fff, 1494px 1980px #fff, 706px 669px #fff,
    1216px 1506px #fff, 354px 760px #fff, 1116px 1887px #fff, 1985px 62px #fff,
    846px 120px #fff, 1256px 644px #fff, 1512px 1700px #fff, 1047px 1127px #fff,
    1085px 1117px #fff, 1643px 317px #fff, 1272px 145px #fff, 1275px 469px #fff,
    1312px 30px #fff, 510px 788px #fff, 425px 1263px #fff, 1099px 511px #fff,
    1038px 318px #fff, 1130px 1054px #fff, 663px 285px #fff, 30px 706px #fff,
    1115px 768px #fff, 1607px 182px #fff, 250px 525px #fff, 918px 1770px #fff,
    452px 463px #fff, 1495px 1477px #fff, 48px 194px #fff, 559px 1306px #fff,
    1552px 799px #fff, 1906px 1397px #fff, 1472px 1877px #fff, 1889px 26px #fff,
    155px 321px #fff, 665px 468px #fff, 345px 992px #fff, 1145px 952px #fff,
    1672px 805px #fff, 1961px 536px #fff, 22px 1659px #fff, 132px 1376px #fff,
    312px 1419px #fff, 43px 847px #fff, 800px 143px #fff, 32px 377px #fff,
    429px 1981px #fff, 1830px 180px #fff, 1667px 1380px #fff, 1478px 87px #fff,
    11px 322px #fff, 1631px 1580px #fff, 951px 1230px #fff, 1857px 1939px #fff,
    593px 1314px #fff, 704px 375px #fff, 1445px 505px #fff, 1368px 596px #fff,
    1522px 931px #fff, 1939px 188px #fff, 226px 661px #fff, 713px 744px #fff,
    33px 1264px #fff, 1050px 487px #fff, 474px 1933px #fff, 389px 1919px #fff,
    1790px 1117px #fff, 982px 1551px #fff, 671px 1508px #fff, 402px 155px #fff,
    681px 467px #fff, 325px 168px #fff, 1902px 237px #fff, 78px 1341px #fff,
    17px 602px #fff, 1741px 1141px #fff, 21px 485px #fff, 107px 1316px #fff,
    713px 688px #fff, 1099px 375px #fff, 1347px 315px #fff, 1436px 1691px #fff,
    1345px 700px #fff, 1447px 1008px #fff, 538px 1628px #fff, 744px 561px #fff,
    977px 207px #fff, 950px 481px #fff, 1599px 1100px #fff, 399px 1762px #fff,
    447px 204px #fff, 64px 521px #fff, 412px 805px #fff, 665px 438px #fff,
    1698px 1097px #fff, 191px 569px #fff, 1720px 1862px #fff, 1142px 1688px #fff,
    912px 1982px #fff, 1489px 662px #fff, 1145px 232px #fff, 864px 1004px #fff,
    1483px 1533px #fff, 1770px 489px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1183px 1083px #fff, 1267px 526px #fff, 830px 1270px #fff,
    1360px 883px #fff, 343px 1011px #fff, 336px 671px #fff, 912px 353px #fff,
    736px 3px #fff, 1591px 321px #fff, 214px 1140px #fff, 1823px 813px #fff,
    1893px 1091px #fff, 1098px 70px #fff, 1093px 1813px #fff, 718px 1163px #fff,
    369px 174px #fff, 920px 445px #fff, 776px 1394px #fff, 1653px 665px #fff,
    795px 1486px #fff, 1771px 1486px #fff, 1773px 1394px #fff, 517px 1100px #fff,
    1972px 1469px #fff, 1259px 736px #fff, 1508px 626px #fff, 1612px 817px #fff,
    960px 226px #fff, 921px 1506px #fff, 471px 1460px #fff, 1675px 336px #fff,
    812px 1917px #fff, 1384px 847px #fff, 1229px 8px #fff, 1414px 1821px #fff,
    359px 1911px #fff, 1024px 1394px #fff, 1475px 1580px #fff,
    1166px 1292px #fff, 1100px 1667px #fff, 677px 1801px #fff, 742px 1424px #fff,
    1604px 1735px #fff, 876px 375px #fff, 473px 473px #fff, 1661px 392px #fff,
    444px 969px #fff, 307px 157px #fff, 1632px 1004px #fff, 435px 1341px #fff,
    133px 391px #fff, 1299px 1172px #fff, 1562px 1604px #fff, 526px 1442px #fff,
    755px 447px #fff, 1669px 830px #fff, 147px 1388px #fff, 678px 1465px #fff,
    887px 1486px #fff, 1409px 1294px #fff, 557px 212px #fff, 878px 1059px #fff,
    1497px 1799px #fff, 35px 981px #fff, 25px 581px #fff, 683px 1120px #fff,
    1461px 89px #fff, 563px 655px #fff, 695px 1945px #fff, 1983px 286px #fff,
    809px 382px #fff, 1338px 1983px #fff, 427px 1000px #fff, 1872px 1001px #fff,
    1426px 1571px #fff, 1630px 1983px #fff, 1116px 1017px #fff, 886px 985px #fff,
    1111px 1700px #fff, 212px 1548px #fff, 733px 1618px #fff, 926px 1131px #fff,
    1156px 1178px #fff, 1507px 523px #fff, 420px 1849px #fff, 496px 40px #fff,
    287px 1108px #fff, 1839px 1111px #fff, 776px 1585px #fff, 1031px 484px #fff,
    1599px 1685px #fff, 712px 293px #fff, 1689px 711px #fff, 67px 834px #fff,
    1593px 1923px #fff, 1512px 1957px #fff, 1858px 1356px #fff,
    1879px 708px #fff, 175px 1421px #fff, 1707px 104px #fff, 616px 469px #fff,
    800px 1683px #fff, 588px 1933px #fff, 1280px 1828px #fff, 981px 1743px #fff,
    859px 892px #fff, 385px 294px #fff, 755px 1113px #fff, 1979px 1465px #fff,
    65px 1464px #fff, 1049px 1349px #fff, 1616px 1489px #fff, 856px 1937px #fff,
    1481px 1297px #fff, 1775px 1466px #fff, 1143px 1565px #fff,
    1723px 135px #fff, 1921px 1643px #fff, 1445px 1536px #fff,
    1373px 1810px #fff, 1234px 546px #fff, 855px 745px #fff, 662px 155px #fff,
    492px 1655px #fff, 278px 712px #fff, 98px 553px #fff, 694px 1035px #fff,
    850px 536px #fff, 1758px 841px #fff, 1258px 1846px #fff, 1845px 1818px #fff,
    1777px 317px #fff, 133px 396px #fff, 1095px 1757px #fff, 858px 1995px #fff,
    770px 1177px #fff, 560px 1445px #fff, 1850px 1464px #fff, 853px 729px #fff,
    1750px 407px #fff, 1057px 1106px #fff, 1002px 1545px #fff, 1040px 932px #fff,
    389px 691px #fff, 462px 333px #fff, 1784px 1381px #fff, 1987px 109px #fff,
    889px 497px #fff, 343px 1921px #fff, 1549px 913px #fff, 158px 1026px #fff,
    619px 482px #fff, 1510px 878px #fff, 216px 668px #fff, 1315px 1650px #fff,
    1077px 1555px #fff, 773px 487px #fff, 1336px 1896px #fff, 371px 1484px #fff,
    269px 580px #fff, 626px 295px #fff, 1430px 1364px #fff, 858px 416px #fff,
    503px 1276px #fff, 1219px 50px #fff, 895px 369px #fff, 996px 1272px #fff,
    133px 930px #fff, 1425px 77px #fff, 1096px 753px #fff, 307px 208px #fff,
    212px 1354px #fff, 1115px 939px #fff, 967px 500px #fff, 674px 1183px #fff,
    173px 834px #fff, 407px 1246px #fff, 1157px 42px #fff, 453px 1941px #fff,
    162px 1639px #fff, 278px 1353px #fff, 1265px 604px #fff, 858px 226px #fff,
    298px 1744px #fff, 956px 1422px #fff, 942px 1086px #fff, 189px 149px #fff,
    1428px 507px #fff, 1368px 1807px #fff, 1563px 1059px #fff, 1121px 226px #fff,
    1074px 1630px #fff, 1177px 1396px #fff, 1672px 209px #fff, 1050px 851px #fff,
    1628px 48px #fff, 925px 1881px #fff, 1480px 141px #fff, 241px 1705px #fff,
    97px 1963px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1183px 1083px #fff, 1267px 526px #fff, 830px 1270px #fff,
    1360px 883px #fff, 343px 1011px #fff, 336px 671px #fff, 912px 353px #fff,
    736px 3px #fff, 1591px 321px #fff, 214px 1140px #fff, 1823px 813px #fff,
    1893px 1091px #fff, 1098px 70px #fff, 1093px 1813px #fff, 718px 1163px #fff,
    369px 174px #fff, 920px 445px #fff, 776px 1394px #fff, 1653px 665px #fff,
    795px 1486px #fff, 1771px 1486px #fff, 1773px 1394px #fff, 517px 1100px #fff,
    1972px 1469px #fff, 1259px 736px #fff, 1508px 626px #fff, 1612px 817px #fff,
    960px 226px #fff, 921px 1506px #fff, 471px 1460px #fff, 1675px 336px #fff,
    812px 1917px #fff, 1384px 847px #fff, 1229px 8px #fff, 1414px 1821px #fff,
    359px 1911px #fff, 1024px 1394px #fff, 1475px 1580px #fff,
    1166px 1292px #fff, 1100px 1667px #fff, 677px 1801px #fff, 742px 1424px #fff,
    1604px 1735px #fff, 876px 375px #fff, 473px 473px #fff, 1661px 392px #fff,
    444px 969px #fff, 307px 157px #fff, 1632px 1004px #fff, 435px 1341px #fff,
    133px 391px #fff, 1299px 1172px #fff, 1562px 1604px #fff, 526px 1442px #fff,
    755px 447px #fff, 1669px 830px #fff, 147px 1388px #fff, 678px 1465px #fff,
    887px 1486px #fff, 1409px 1294px #fff, 557px 212px #fff, 878px 1059px #fff,
    1497px 1799px #fff, 35px 981px #fff, 25px 581px #fff, 683px 1120px #fff,
    1461px 89px #fff, 563px 655px #fff, 695px 1945px #fff, 1983px 286px #fff,
    809px 382px #fff, 1338px 1983px #fff, 427px 1000px #fff, 1872px 1001px #fff,
    1426px 1571px #fff, 1630px 1983px #fff, 1116px 1017px #fff, 886px 985px #fff,
    1111px 1700px #fff, 212px 1548px #fff, 733px 1618px #fff, 926px 1131px #fff,
    1156px 1178px #fff, 1507px 523px #fff, 420px 1849px #fff, 496px 40px #fff,
    287px 1108px #fff, 1839px 1111px #fff, 776px 1585px #fff, 1031px 484px #fff,
    1599px 1685px #fff, 712px 293px #fff, 1689px 711px #fff, 67px 834px #fff,
    1593px 1923px #fff, 1512px 1957px #fff, 1858px 1356px #fff,
    1879px 708px #fff, 175px 1421px #fff, 1707px 104px #fff, 616px 469px #fff,
    800px 1683px #fff, 588px 1933px #fff, 1280px 1828px #fff, 981px 1743px #fff,
    859px 892px #fff, 385px 294px #fff, 755px 1113px #fff, 1979px 1465px #fff,
    65px 1464px #fff, 1049px 1349px #fff, 1616px 1489px #fff, 856px 1937px #fff,
    1481px 1297px #fff, 1775px 1466px #fff, 1143px 1565px #fff,
    1723px 135px #fff, 1921px 1643px #fff, 1445px 1536px #fff,
    1373px 1810px #fff, 1234px 546px #fff, 855px 745px #fff, 662px 155px #fff,
    492px 1655px #fff, 278px 712px #fff, 98px 553px #fff, 694px 1035px #fff,
    850px 536px #fff, 1758px 841px #fff, 1258px 1846px #fff, 1845px 1818px #fff,
    1777px 317px #fff, 133px 396px #fff, 1095px 1757px #fff, 858px 1995px #fff,
    770px 1177px #fff, 560px 1445px #fff, 1850px 1464px #fff, 853px 729px #fff,
    1750px 407px #fff, 1057px 1106px #fff, 1002px 1545px #fff, 1040px 932px #fff,
    389px 691px #fff, 462px 333px #fff, 1784px 1381px #fff, 1987px 109px #fff,
    889px 497px #fff, 343px 1921px #fff, 1549px 913px #fff, 158px 1026px #fff,
    619px 482px #fff, 1510px 878px #fff, 216px 668px #fff, 1315px 1650px #fff,
    1077px 1555px #fff, 773px 487px #fff, 1336px 1896px #fff, 371px 1484px #fff,
    269px 580px #fff, 626px 295px #fff, 1430px 1364px #fff, 858px 416px #fff,
    503px 1276px #fff, 1219px 50px #fff, 895px 369px #fff, 996px 1272px #fff,
    133px 930px #fff, 1425px 77px #fff, 1096px 753px #fff, 307px 208px #fff,
    212px 1354px #fff, 1115px 939px #fff, 967px 500px #fff, 674px 1183px #fff,
    173px 834px #fff, 407px 1246px #fff, 1157px 42px #fff, 453px 1941px #fff,
    162px 1639px #fff, 278px 1353px #fff, 1265px 604px #fff, 858px 226px #fff,
    298px 1744px #fff, 956px 1422px #fff, 942px 1086px #fff, 189px 149px #fff,
    1428px 507px #fff, 1368px 1807px #fff, 1563px 1059px #fff, 1121px 226px #fff,
    1074px 1630px #fff, 1177px 1396px #fff, 1672px 209px #fff, 1050px 851px #fff,
    1628px 48px #fff, 925px 1881px #fff, 1480px 141px #fff, 241px 1705px #fff,
    97px 1963px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 920px 1776px #fff, 1093px 368px #fff, 1506px 625px #fff,
    492px 820px #fff, 301px 1383px #fff, 437px 1554px #fff, 907px 1713px #fff,
    1560px 1593px #fff, 987px 1405px #fff, 324px 346px #fff, 1376px 526px #fff,
    1350px 471px #fff, 1247px 1878px #fff, 1080px 582px #fff, 1725px 1252px #fff,
    696px 1839px #fff, 917px 1366px #fff, 1344px 1005px #fff, 600px 225px #fff,
    421px 1289px #fff, 1881px 1979px #fff, 1517px 1288px #fff,
    1922px 1172px #fff, 932px 51px #fff, 624px 9px #fff, 1717px 1658px #fff,
    918px 578px #fff, 1804px 762px #fff, 281px 1718px #fff, 495px 483px #fff,
    1754px 274px #fff, 537px 621px #fff, 1405px 1985px #fff, 866px 1805px #fff,
    1521px 1401px #fff, 1246px 1452px #fff, 37px 990px #fff, 1929px 515px #fff,
    602px 1841px #fff, 156px 1655px #fff, 1888px 90px #fff, 796px 60px #fff,
    722px 1071px #fff, 1741px 924px #fff, 1113px 1085px #fff, 1274px 1595px #fff,
    153px 811px #fff, 1019px 422px #fff, 1097px 1133px #fff, 1814px 1900px #fff,
    1210px 1262px #fff, 998px 254px #fff, 485px 313px #fff, 829px 985px #fff,
    83px 1381px #fff, 1664px 269px #fff, 993px 1340px #fff, 439px 245px #fff,
    629px 172px #fff, 948px 1511px #fff, 1212px 1010px #fff, 1881px 10px #fff,
    820px 1478px #fff, 1828px 263px #fff, 938px 833px #fff, 1885px 425px #fff,
    155px 1836px #fff, 882px 1788px #fff, 7px 1488px #fff, 1809px 243px #fff,
    1035px 40px #fff, 1798px 591px #fff, 356px 1632px #fff, 35px 14px #fff,
    1722px 1946px #fff, 1202px 148px #fff, 803px 1006px #fff, 592px 132px #fff,
    246px 720px #fff, 971px 506px #fff, 1434px 1097px #fff, 1148px 1465px #fff,
    829px 929px #fff, 1507px 1040px #fff, 593px 1854px #fff, 755px 92px #fff,
    1705px 1285px #fff, 13px 1640px #fff, 971px 1354px #fff, 1687px 1458px #fff,
    447px 1144px #fff, 174px 1374px #fff, 1347px 574px #fff, 309px 1358px #fff,
    577px 921px #fff, 1986px 61px #fff, 1720px 956px #fff, 125px 74px #fff,
    700px 1586px #fff, 382px 1787px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 920px 1776px #fff, 1093px 368px #fff, 1506px 625px #fff,
    492px 820px #fff, 301px 1383px #fff, 437px 1554px #fff, 907px 1713px #fff,
    1560px 1593px #fff, 987px 1405px #fff, 324px 346px #fff, 1376px 526px #fff,
    1350px 471px #fff, 1247px 1878px #fff, 1080px 582px #fff, 1725px 1252px #fff,
    696px 1839px #fff, 917px 1366px #fff, 1344px 1005px #fff, 600px 225px #fff,
    421px 1289px #fff, 1881px 1979px #fff, 1517px 1288px #fff,
    1922px 1172px #fff, 932px 51px #fff, 624px 9px #fff, 1717px 1658px #fff,
    918px 578px #fff, 1804px 762px #fff, 281px 1718px #fff, 495px 483px #fff,
    1754px 274px #fff, 537px 621px #fff, 1405px 1985px #fff, 866px 1805px #fff,
    1521px 1401px #fff, 1246px 1452px #fff, 37px 990px #fff, 1929px 515px #fff,
    602px 1841px #fff, 156px 1655px #fff, 1888px 90px #fff, 796px 60px #fff,
    722px 1071px #fff, 1741px 924px #fff, 1113px 1085px #fff, 1274px 1595px #fff,
    153px 811px #fff, 1019px 422px #fff, 1097px 1133px #fff, 1814px 1900px #fff,
    1210px 1262px #fff, 998px 254px #fff, 485px 313px #fff, 829px 985px #fff,
    83px 1381px #fff, 1664px 269px #fff, 993px 1340px #fff, 439px 245px #fff,
    629px 172px #fff, 948px 1511px #fff, 1212px 1010px #fff, 1881px 10px #fff,
    820px 1478px #fff, 1828px 263px #fff, 938px 833px #fff, 1885px 425px #fff,
    155px 1836px #fff, 882px 1788px #fff, 7px 1488px #fff, 1809px 243px #fff,
    1035px 40px #fff, 1798px 591px #fff, 356px 1632px #fff, 35px 14px #fff,
    1722px 1946px #fff, 1202px 148px #fff, 803px 1006px #fff, 592px 132px #fff,
    246px 720px #fff, 971px 506px #fff, 1434px 1097px #fff, 1148px 1465px #fff,
    829px 929px #fff, 1507px 1040px #fff, 593px 1854px #fff, 755px 92px #fff,
    1705px 1285px #fff, 13px 1640px #fff, 971px 1354px #fff, 1687px 1458px #fff,
    447px 1144px #fff, 174px 1374px #fff, 1347px 574px #fff, 309px 1358px #fff,
    577px 921px #fff, 1986px 61px #fff, 1720px 956px #fff, 125px 74px #fff,
    700px 1586px #fff, 382px 1787px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
